Dear #{@customer_name.camelize},
%br
%br Per your request, #{@doctor_comment.doctor_name.camelize} &nbsp;has added the comments after reviewing your health assessments
%a{:href => "#{@comments_url}"}Click here
%br
%br Comments: #{@doctor_comment.general_comments}
%br Date: #{@doctor_comment.created_at.strftime("%b %d, %Y")}
%br
%br For any further questions, you can reach #{@doctor_comment.doctor_name.camelize} at #{@doctor_comment.doctor_mobile_number}.
%br
%br Thanks,
%br
%a{:href => "#{@ekincare_url}"}eKincare.com