.vbox
  %h4.panel-heading.no-padder
    %a.font-bold{href: "#"}
      Catalog &nbsp;&nbsp;
    %a.btn.btn-default.btn-s-mdsche.m-b-xs{id: "new_catalog_item", href: new_staff_provider_test_path, data: {remote: true}}
      &nbsp;
      %i.fa.fa-plus
      &nbsp;Add new &nbsp;&nbsp;
  .scrollable
    %section.panel.panel-default
      .table-responsive
        %table.table.table-striped.b-light#enterprise_catalog_table
          %thead
            %tr
              %th Name
              %th MRP
              %th Selling Price
              %th Cost
              %th Discount(%)
              %th Service Type
          %tbody
            - @provider_test.each do |tests|
              %tr
                %td
                  = tests.name
                %td
                  = number_with_precision(tests.mrp, precision: 2)
                %td
                  = number_with_precision(tests.selling_price, precision: 2)
                %td
                  = number_with_precision(tests.cost, precision: 2)
                %td
                  = number_with_precision(tests.discount, precision: 0)
                %td
                  = tests.service_type
                %td
                  %a.pull-right.dropdown-toggle.edit-pencil{"data-toggle" => "dropdown", href: "#"}
                    %i.fa.fa-pencil
                %td
                  %a.pull-right.dropdown-toggle.providertest-delete-row{"data-toggle" => "dropdown", href: "#"}
                    %i.i.i-trashcan
              = form_for tests, as: :provider_test, url: staff_provider_test_path(tests), 'data-validate' => 'parsley',remote: true do |f|
                %tr.edit_provider_test.hide{provider_test_id: tests.id}
                  %td
                    = f.text_field :name, {value: tests.name,class: 'form-control customer-allergy-select'}
                  %td
                    = f.text_field :mrp, {value: tests.mrp, class: 'form-control customer-allergy-select'}
                  %td
                    = f.text_field :selling_price, {value: tests.selling_price, class: 'form-control customer-allergy-select'}
                  %td
                    = f.text_field :cost, {value: tests.cost, class: 'form-control customer-allergy-select'}
                  %td
                    = f.text_field :discount, {value: tests.discount, class: 'form-control customer-allergy-select'}
                  %td
                    .col-md-6
                      =f.label  "Body"
                    .col-md-6
                      =f.check_box :service_type1, {class: 'checkbox'}, checked_value=tests.service_type1, unchecked_value=nil
                    .col-md-6
                      =f.label  "Dental"
                    .col-md-6
                      =f.check_box :service_type2, {class: 'checkbox'}, checked_value=tests.service_type2, unchecked_value=nil
                    .col-md-6
                      =f.label  "Vision"
                    .col-md-6
                      =f.check_box :service_type3, {class: 'checkbox', multipe: true}, checked_value=tests.service_type3, unchecked_value=nil
                    %td
                  %td
                    = f.submit 'save', {class:'btn btn-sm small-btn btn-primary assessment-save-row-btn'}
                  %td
                    %a{class: 'btn btn-sm small-btn btn-danger assessment-cancel-row-btn'} cancel
                    %input{type: 'reset', class: 'hide reset-assessment-row-btn'}