%section#content.m-t-lg
  .container.aside-xl.text-center
    %section
      %header.text-center
        %a.h3.font-bold{href: root_path} eKincare
    %header.wrapper
      %strong
        Change your password
    %section.m-b-lg
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.hidden_field :reset_password_token
        %small
          - unless resource.errors.empty?
            .text-danger.m-b
              = resource.errors.full_messages.map { |msg| msg }.join('<br>').html_safe
          -#= devise_error_messages!
          -#= messages = resource.errors.full_messages.map { |msg| msg }.join
        .list-group
          .list-group-item
            = f.password_field :password, class: 'form-control no-border ', required: true, autofocus: true,  placeholder: 'New Password'
          .list-group-item
            = f.password_field :password_confirmation, class: 'form-control no-border ', required: true, placeholder: 'Confirm new password'
        = f.submit "Change my password", class: 'btn btn-primary m-b'


