= content_for :title, 'locations'
%div.clearfix.breadcrumb
  %ol.padder
    = render_breadcrumbs :separator => ' / '
    %small.pull-right
      Contact: 888-678-EKIN (3546) /
      %a{href: 'mailto:founder@ekincare.com'} founder@ekincare.com
%section.vbox
  %section.scrollable.padder.row.package_address{:style => "height:1000px"}
    .col-sm-7
      .col-sm-12
        %section.panel.panel-default.m-n
          %header.panel-heading.text-left.address_heading
            %span.cus Your Current Address
            %a.btn.btn-primary.pull-right#address_info_edit_btn
              %i.fa.fa-pencil
              Update your address
          %section.panel-body.slim-scroll
            %div
              .media-body.provider_address
                %div.col-sm-12
                  %p.block.col-sm-12
                    = @address.details rescue '-'
            -#%div
            -#  %p.block.col-sm-12
            -#  %a.btn.btn-primary.pull-right#address_info_edit_btn
            -#    %i.fa.fa-pencil
            -#    Update your address
            %div
              .row.hide#edit_address_form
                .col-sm-10
                  = form_for current_online_customer, url: customers_venus_edit_path, html: {'data-validate' => 'parsley', multipart: true, id: "customer_med_basic_details_form"}  do |f|
                    .form-group
                      %div.provider_sec
                      = f.label :address
                      %sup.text-danger
                        *
                      - @address = current_online_customer.addresses.first.nil? ? Address.new : current_online_customer.addresses.first
                      = f.fields_for :addresses, @address do |a|
                        .form-group
                          = f.hidden_field "package",value: @package_info.id
                        .form-group
                          = a.text_field :line1, {class: 'form-control parsley-validated', 'data-required' => 'true', placeholder: 'Address line1'}
                        .form-group
                          = a.text_field :line2, {class: 'form-control parsley-validated', placeholder: 'Address line2'}
                        .form-group
                          = a.select :city, options_for_select(['Abhayapuri',
                          'Achabbal',
                          'Achalpur',
                          'Achhnera',
                          'Adari',
                          'Adalaj',
                          'Adilabad',
                          'Adityana',
                          'pereyaapatna',
                          'Adoni',
                          'Adoor',
                          'Adyar',
                          'Adra',
                          'Afzalpura',
                          'Agartala',
                          'Agra',
                          'Ahiwara',
                          'Ahmedabad',
                          'Ahmedgarh',
                          'Ahmednagar',
                          'Ahmedpur',
                          'Aizawl',
                          'Ajmer',
                          'Ajra',
                          'Akaltara',
                          'Akathiyoor',
                          'Akhnoor',
                          'Akkalkot',
                          'Akola',
                          'Akot',
                          'Alandha',
                          'Alandi',
                          'Alang',
                          'Alappuzha',
                          'Aldona',
                          'Alibag',
                          'Aligarh',
                          'Alipurduar',
                          'Allahabad',
                          'Almora',
                          'Aalanavara',
                          'Along',
                          'Alur',
                          'Alwar',
                          'Amadalavalasa',
                          'Amalapuram',
                          'Amalner',
                          'Amarpur',
                          'Ambad',
                          'Ambagarh',
                          'Chowki',
                          'Ambaji',
                          'Ambaliyasan',
                          'Ambejogai',
                          'Ambikaanagara',
                          'Ambikapur',
                          'Ambivali',
                          'Tarf',
                          'Wankhal',
                          'Amguri',
                          'Amini',
                          'Amlabad',
                          'Amli',
                          'Amravati',
                          'Amreli',
                          'Amritsar',
                          'Amroha',
                          'Anakapalle',
                          'Anand',
                          'Anandapur',
                          'Anandnagaar',
                          'Anantapur',
                          'Anantnag',
                          'Ancharakandy',
                          'Andada',
                          'Anekal',
                          'Ankola',
                          'Anjar',
                          'Anjangaon',
                          'Anklav',
                          'Ankleshwar',
                          'Annigeri',
                          'Antaliya',
                          'Anugul',
                          'Ara',
                          'Arambhada',
                          'Arakkonam',
                          'Araria',
                          'Arang',
                          'Arambagh',
                          'Arsikere',
                          'Arcot',
                          'Areraj',
                          'Arkalgud',
                          'Arki',
                          'Arnia',
                          'Aroor',
                          'Arrah',
                          'Aruppukkottai',
                          'Arvi',
                          'Asankhurd',
                          'Asansol',
                          'Asarganj',
                          'Ashok',
                          'Nagar',
                          'Ashta',
                          'Ashtamichira',
                          'Asika',
                          'Asola',
                          'Assandh',
                          'Ateli',
                          'Athni',
                          'Attingal',
                          'Atul',
                          'Aurad',
                          'Aurangabad',
                          'Aurangabad',
                          'Ausa',
                          'Avinissery',
                          'Awantipora',
                          'Azamgarh',
                          'Babiyal',
                          'Baddi',
                          'Bade',
                          'Bacheli',
                          'Badaun',
                          'Badepalle',
                          'Badharghat',
                          'Bagaha',
                          'Bahadurgarh',
                          'Bahadurganj',
                          'Baharampur',
                          'Bahraich',
                          'Bairgania',
                          'Bakhtiarpur',
                          'Balaghat',
                          'Balangir',
                          'Balasore',
                          'Baleshwar',
                          'Bali',
                          'Bally',
                          'Ballabhgarh',
                          'Ballia',
                          'Balod',
                          'Baloda',
                          'Bazar',
                          'Balrampur',
                          'Balurghat',
                          'Bamra',
                          'Banda',
                          'Bandikui',
                          'Bandipore',
                          'Banganapalle',
                          'Banka',
                          'Banmankhi',
                          'Bazar',
                          'Banswara',
                          'Bankura',
                          'Bapatla',
                          'Barakar',
                          'Barahiya',
                          'Baramati',
                          'Baramula',
                          'Baran',
                          'Barasat',
                          'Bardhaman',
                          'Barauli',
                          'Barbigha',
                          'Bareilly',
                          'Bargarh',
                          'Barughutu',
                          'Basna',
                          'Barbil',
                          'Bargarh',
                          'Barh',
                          'Baripada',
                          'Barmer',
                          'Barnala',
                          'Barpeta',
                          'Barpeta',
                          'Road',
                          'Barrackpur',
                          'Barwani',
                          'Barwala',
                          'Basudebpur',
                          'Batala',
                          'Bathinda',
                          'Bawal',
                          'Bazpur',
                          'Beawar',
                          'Begusarai',
                          'Behea',
                          'Belagaavi',
                          'Bellampalle',
                          'Ballary',
                          'Belpahar',
                          'Bemetra',
                          'Bengalooru',
                          'Berhampur',
                          'Bethamcherla',
                          'Bettiah',
                          'Betul',
                          'Bhabua',
                          'Bhadrachalam',
                          'Bhadrak',
                          'Bhagalpur',
                          'Bhagha',
                          'Purana',
                          'Bhainsa',
                          'Bhajanpura',
                          'Bhandara',
                          'Bharatpur',
                          'Bharthana',
                          'Bharuch',
                          'Bhatapara',
                          'Bhavani',
                          'Bhavnagar',
                          'Bhawanipatna',
                          'Bheemunipatnam',
                          'Bhilai',
                          'Bhilwara',
                          'Bhimavaram',
                          'Bhinmal',
                          'Bhiwandi',
                          'Bhiwani',
                          'Bhongir',
                          'Bhopal*',
                          'Bhuban',
                          'Bhubaneswar*',
                          'Bhuj',
                          'Bhusawal',
                          'Bidar',
                          'Bidhan',
                          'Nagar',
                          'Bihar',
                          'Sharif',
                          'Bijnaur',
                          'Bikaner',
                          'Bikramganj',
                          'Bilara',
                          'Bilasipara',
                          'Bilaspur',
                          'Bilaspur',
                          'Biramitrapur',
                          'Birgaon',
                          'Bobbili',
                          'Bodhan',
                          'Bodh',
                          'Gaya',
                          'Bokaro',
                          'Steel',
                          'City',
                          'Bongaigaon',
                          'Bomdila',
                          'Brahmapur',
                          'Brajrajnagar',
                          'Budaun',
                          'Budhlada',
                          'Bulandshahr',
                          'Burhanpur',
                          'Burla',
                          'Buxar',
                          'Byasanagar',
                          'Cambay',
                          'Chaibasa',
                          'Chakeri',
                          'Chakradharpur',
                          'Chalisgaon',
                          'Chamba',
                          'Chamba',
                          'Champa',
                          'Champawat',
                          'Champhai',
                          'Chamarajanagara',
                          'Chandigarh*',
                          'Chandil',
                          'Chandausi',
                          'Chandrapura',
                          'Chanpatia',
                          'Charkhi',
                          'Dadri',
                          'Chapirevula',
                          'Chatra',
                          'Charkhari',
                          'Chalakudy',
                          'Chandrapur',
                          'Changanassery',
                          'Cheeka',
                          'Chendamangalam',
                          'Chengalpattu',
                          'Chengannur',
                          'Chennai*',
                          'Cherthala',
                          'Cheruthazham',
                          'Chhapra',
                          'Chhatarpur',
                          'Chhindwara',
                          'Chikkodi',
                          'Chikkamagalur',
                          'Chilakaluripet',
                          'Chinchani',
                          'Chinna',
                          'salem',
                          'Chinthaamani',
                          'Chiplun',
                          'Chirala',
                          'Chirkunda',
                          'Chirmiri',
                          'Chinsura',
                          'Chithradurga',
                          'Chittur-Thathamangalam',
                          'Chitrakoot',
                          'Chittoor',
                          'Chockli',
                          'Churi',
                          'Churu',
                          'Coimbatore',
                          'Colgong',
                          'Contai',
                          'Cooch',
                          'Behar',
                          'Coonoor',
                          'Cuddalore',
                          'Cuddapah',
                          'Curchorem',
                          'Cacora',
                          'Cuttack',
                          'Chikkaballapura',
                          'Chandan',
                          'Bara',
                          'Dabra',
                          'Dadri',
                          'Dahod',
                          'Dalhousie',
                          'Dalkhola',
                          'Dalli-Rajhara',
                          'Dalsinghsarai',
                          'Daltonganj',
                          'Daman',
                          'and',
                          'Diu',
                          'Damoh',
                          'Darbhanga',
                          'Darjeeling',
                          'Dasua',
                          'Datia',
                          'Daudnagar',
                          'Daund',
                          'Davanageray',
                          'Debagarh',
                          'Deesa',
                          'Dehgam',
                          'Dehradun',
                          'Dehri-on-Sone',
                          'Deoghar',
                          'Deoria',
                          'Devarakonda',
                          'Devgarh',
                          'Devgarh',
                          'Dewas',
                          'Dhaka',
                          'Dhamtari',
                          'Dhanbad',
                          'Dhar',
                          'Dharampur',
                          'Dharamsala',
                          'Dharmanagar',
                          'Dharmapuri',
                          'Dharmavaram',
                          'Dharwad',
                          'Dhekiajuli',
                          'Dhenkanal',
                          'Dholka',
                          'Dhubri',
                          'Dhule',
                          'Dhulian',
                          'Dhuri',
                          'Dibrugarh',
                          'Digboi',
                          'Dighwara',
                          'Dimapur',
                          'Dinanagar',
                          'Dindigul',
                          'Diphu',
                          'Dipka',
                          'Dispur*',
                          'Dombivli',
                          'Dongargarh',
                          'Duliajan',
                          'Oil',
                          'Town',
                          'Dumdum',
                          'Dumka',
                          'Dumraon',
                          'Durg-Bhilai',
                          'Nagar',
                          'Durgapur',
                          'Durgapur',
                          'Dwarka',
                          'Ellenabad',
                          'Eluru',
                          'Erattupetta',
                          'Erode',
                          'Etah',
                          'Etawah',
                          'Faizabad',
                          'Falna',
                          'Faridabad',
                          'Faridkot',
                          'Farooqnagar',
                          'Farrukhabad',
                          'Fatehabad',
                          'Fatehabad',
                          'Fatehabad',
                          'Fatehgarh',
                          'Fatehpur',
                          'Chaurasi',
                          'Fatehpur',
                          'Sikri',
                          'Fatehpur',
                          'Fatehpur',
                          'Fatehpur',
                          'Fatwah',
                          'Fazilka',
                          'Forbesganj',
                          'Firozabad',
                          'Firozpur',
                          'Firozpur',
                          'Cantt.',
                          'Gadhaga',
                          'Gadchiroli',
                          'Gadwal',
                          'Ganaur',
                          'Gandhidham',
                          'Gandhinagar*',
                          'Gangtok*',
                          'Ganjam',
                          'Garhwa',
                          'Gauripur',
                          'Gaya',
                          'Gharaunda',
                          'Ghatampur',
                          'Ghatanji',
                          'Ghatshila',
                          'Ghaziabad',
                          'Ghazipur',
                          'Giddarbaha',
                          'Giridih',
                          'Goa',
                          'Velha',
                          'Goalpara',
                          'Gobindgarh',
                          'Gobranawapara',
                          'Godda',
                          'Godhra',
                          'Gogri',
                          'Jamalpur',
                          'Gohana',
                          'Gokak',
                          'Golaghat',
                          'Gomoh',
                          'Gondiya',
                          'Gooty',
                          'Gopalganj',
                          'Gorakhpur',
                          'Greater',
                          'Noida',
                          'Gudalur',
                          'Gudalur',
                          'Gudalur',
                          'Gudivada',
                          'Gudur',
                          'Gulbarga',
                          'Gumia',
                          'Gumla',
                          'Guna',
                          'Gundlupet',
                          'Guntakal',
                          'Guntur',
                          'Gunupur',
                          'Gurdaspur',
                          'Gurgaon',
                          'Guruvayoor',
                          'Guwahati',
                          'Gwalior',
                          'Haflong',
                          'Hailakandi',
                          'Hajipur',
                          'Haldia',
                          'Haldwani',
                          'Haibat(Yamuna',
                          'Nagar)',
                          'Hamirpur',
                          'Hamirpur',
                          'Hansi',
                          'Hanuman',
                          'Junction',
                          'Hanumangarh',
                          'Harda',
                          'Hardoi',
                          'Haridwar',
                          'Harsawa',
                          'Haasana',
                          'Hastinapur',
                          'Hathras',
                          'Hazaribag',
                          'Hilsa',
                          'Himatnagar',
                          'Hindupur',
                          'Hinjilicut',
                          'Hisar',
                          'Hisua',
                          'Hodal',
                          'Hojai',
                          'Hoshiarpur',
                          'Hosapet',
                          'Howrah',
                          'Hubbali',
                          'Hugli-Chuchura',
                          'Hussainabad',
                          'Hyderabad*',
                          'Ichalkaranji',
                          'Ichchapuram',
                          'Idar',
                          'Imphal*',
                          'Indore',
                          'Indranagar',
                          'Irinjalakuda',
                          'Islampur',
                          'Islampur',
                          'Itanagar*',
                          'Itarsi',
                          'Jabalpur',
                          'Jagadhri',
                          'Jagatsinghapur',
                          'Jagdalpur',
                          'Jagdispur',
                          'Jaggaiahpet',
                          'Jagraon',
                          'Jagtial',
                          'Jaipur*',
                          'Jais',
                          'Jaisalmer',
                          'Jaitaran',
                          'Jaitu',
                          'Jajapur',
                          'Jajmau',
                          'Jalalabad',
                          'Jalna',
                          'Jalandhar',
                          'Cantt.',
                          'Jalandhar',
                          'Jaleswar',
                          'Jalgaon',
                          'Jalore',
                          'Jamalpur',
                          'Jammalamadugu',
                          'Jammu',
                          'Jamnagar',
                          'Jamshedpur',
                          'Jamtara',
                          'Jamui',
                          'Jandiala',
                          'Jangaon',
                          'Janjgir',
                          'Jashpurnagar',
                          'Jaspur',
                          'Jatani',
                          'Jaunpur',
                          'Jehanabad',
                          'Jeypur',
                          'Jhabua',
                          'Jhajha',
                          'Jhajjar',
                          'Jhalawar',
                          'Jhanjharpur',
                          'Jhansi',
                          'Jhargram',
                          'Jharsuguda',
                          'Jhumri',
                          'Tilaiya',
                          'Jhunjhunu',
                          'Jind',
                          'Joda',
                          'Jodhpur',
                          'Jogabani',
                          'Jogendranagar',
                          'Jorhat',
                          'Jowai',
                          'Junagadh',
                          'Junnar',
                          'Kadapa',
                          'Kadi',
                          'Kadiri',
                          'Kadirur',
                          'Kagaznagar',
                          'Kailaras',
                          'Kailasahar',
                          'Kaithal',
                          'Kakching',
                          'Kakinada',
                          'Kalan',
                          'Wali',
                          'Kalavad',
                          'Kalburgi',
                          'Kalimpong',
                          'Kalka',
                          'Kalliasseri',
                          'Kalpi',
                          'Kalol',
                          'Kalpetta',
                          'Kalyan',
                          'Kalyandurg',
                          'Kamareddy',
                          'Kamthi',
                          'Kanchipuram',
                          'Kandukur',
                          'Kanhangad',
                          'Kanjikkuzhi',
                          'Kanker',
                          'Kannur',
                          'Kanpur',
                          'Kantabanji',
                          'Kanti',
                          'Kapadvanj',
                          'Kapurthala',
                          'Karad',
                          'Karaikal',
                          'Karaikudi',
                          'Karanjia',
                          'Karimganj',
                          'Karimnagar',
                          'Karjan',
                          'karjat',
                          'Kaarkala',
                          'Karnal',
                          'Karoran',
                          'Kartarpur',
                          'Karur',
                          'Karungal',
                          'Kaarawaara',
                          'Kasaragod',
                          'Kashipur',
                          'Kathua',
                          'Katihar',
                          'Katni',
                          'Kavali',
                          'Kavaratti*',
                          'Kawardha',
                          'Kayamkulam',
                          'Kendrapara',
                          'Kendujhar',
                          'Keshod',
                          'Keylong',
                          'Khagaria',
                          'Khambhalia',
                          'Khambhat',
                          'Khammam',
                          'Khanna',
                          'Kharagpur',
                          'Kharagpur',
                          'Kharar',
                          'Kheda',
                          'Khedbrahma',
                          'Kheralu',
                          'Kheri',
                          'Khordha',
                          'Khowai',
                          'Khunti',
                          'Khurai',
                          'kichha',
                          'Kishanganj',
                          'Kochi',
                          'Kodad',
                          'Kodinar',
                          'Kodungallur',
                          'Kohima*',
                          'Kokrajhar',
                          'Kolaara',
                          'Kolhapur',
                          'Kolkata',
                          'Kollam',
                          'Kollankodu',
                          'Kondagaon',
                          'Konnagar',
                          'Koothuparamba',
                          'Koraput',
                          'Korba',
                          'Koratla',
                          'Kot',
                          'Kapura',
                          'Kota',
                          'Kota',
                          'Kota',
                          'Kotdwara',
                          'Kothagudem',
                          'Kothamangalam',
                          'Kothapeta',
                          'Kotma',
                          'Kottayam',
                          'Kovvur',
                          'Kozhikode',
                          'Krishnanagar',
                          'Kuchinda',
                          'Kunnamkulam',
                          'Kurali',
                          'Kurnool',
                          'Kyathampalle',
                          'Lachhmangarh',
                          'Ladnu',
                          'Ladwa',
                          'Lahar',
                          'Laharpur',
                          'Lakheri',
                          'Lakhimpur',
                          'Lakhisarai',
                          'Lakshmishawara',
                          'Lal',
                          'Gopalganj',
                          'Nindaura',
                          'Lalganj',
                          'Lalgudi',
                          'Lalitpur',
                          'Lalganj',
                          'Lalsot',
                          'Lanka',
                          'Lar',
                          'Lathi',
                          'Latur',
                          'Leh',
                          'Lilong',
                          'Limbdi',
                          'Lingsuguru',
                          'Loha',
                          'Lohardaga',
                          'Lonar',
                          'Lonavla',
                          'Longowal',
                          'Loni',
                          'Losal',
                          'Lucknow*',
                          'Ludhiana',
                          'Lumding',
                          'Lunawada',
                          'Lundi',
                          'Lunglei',
                          'Macherla',
                          'Machilipatnam',
                          'Madanapalle',
                          'Maddhuru',
                          'Madgaon',
                          'Madhepura',
                          'Madhubani',
                          'Madhugiri',
                          'Madhupur',
                          'Madhyamgram',
                          'Madikeri',
                          'Madurai',
                          'Maagadi',
                          'Mahabaleswar',
                          'Mahad',
                          'Mahbubnagar',
                          'Mahalingapura',
                          'Maharajganj',
                          'Maharajpur',
                          'Mahasamund',
                          'Mahe',
                          'Mahendragarh',
                          'Mahendragarh',
                          'Mahesana',
                          'Mahidpur',
                          'Mahnar',
                          'Bazar',
                          'Mahoba',
                          'Mahuli',
                          'Mahuva',
                          'Mahwa',
                          'Maihar',
                          'Mainaguri',
                          'Makhdumpur',
                          'Makrana',
                          'Mal',
                          'Malajkhand',
                          'Malappuram',
                          'Malavalli',
                          'Malegaon',
                          'Malerkotla',
                          'Malkangiri',
                          'Malkapur',
                          'Malout',
                          'Malpura',
                          'Maaluru',
                          'Manasa',
                          'Manavadar',
                          'Manawar',
                          'Manchar',
                          'Mancherial',
                          'Mandalgarh',
                          'Mandamarri',
                          'Mandapeta',
                          'Mandawa',
                          'Mandi',
                          'Mandi',
                          'Dabwali',
                          'Mandideep',
                          'Mandla',
                          'Mandsaur',
                          'Mandvi',
                          'Mandya',
                          'Maner',
                          'Manesar',
                          'Mangalagiri',
                          'Mangaldoi',
                          'Mangalooru',
                          'Mangalvedhe',
                          'Manglaur',
                          'Mangrol',
                          'Mangrol',
                          'Mangrulpir',
                          'Manihari',
                          'Manjlegaon',
                          'Mankachar',
                          'Manmad',
                          'Mansa',
                          'Mansa',
                          'Manuguru',
                          'Maanvi',
                          'Manwath',
                          'Mapusa',
                          'Margao',
                          'Margherita',
                          'Marhaura',
                          'Mariani',
                          'Marigaon',
                          'Markapur',
                          'Marmagao',
                          'Masaurhi',
                          'Mathabhanga',
                          'Mathura',
                          'Mattannur',
                          'Mauganj',
                          'Maur',
                          'Mavelikkara',
                          'Mavoor',
                          'Mayang',
                          'Imphal',
                          'Medak',
                          'Medinipur',
                          'Meerut',
                          'Mehkar',
                          'Mehmedabad',
                          'Memari',
                          'Merta',
                          'City',
                          'Mhaswad',
                          'Mhow',
                          'Cantonment',
                          'Mhowgaon',
                          'Mihijam',
                          'Mira-Bhayandar',
                          'Miraj',
                          'Mirganj',
                          'Miryalaguda',
                          'Mirzapur',
                          'Mithapur',
                          'Modasa',
                          'Modinagar',
                          'Moga',
                          'Mogalthur',
                          'Mohali',
                          'Mohania',
                          'Mokama',
                          'Mokameh',
                          'Mokokchung',
                          'Monoharpur',
                          'Moradabad',
                          'Morena',
                          'Morinda',
                          'Morshi',
                          'Morvi',
                          'Motihari',
                          'Motipur',
                          'Mount',
                          'Abu',
                          'Mudalagi',
                          'Mudabidri',
                          'Muddebihala',
                          'Mudhola',
                          'Mukatsar',
                          'Mukerian',
                          'Mukhed',
                          'Muktsar',
                          'Mul',
                          'Mulabaagilu',
                          'Multai',
                          'Mumbai',
                          'Mundaragi',
                          'Mungeli',
                          'Munger',
                          'Muradnagar',
                          'Murliganj',
                          'Murshidabad',
                          'Murtijapur',
                          'Murwara',
                          'Musabani',
                          'Mussoorie',
                          'Muvattupuzha',
                          'Muzaffarnagar',
                          'Muzaffarpur',
                          'Mysooru',
                          'Nabadwip',
                          'Nabarangapur',
                          'Nabha',
                          'Nadbai',
                          'Nadiad',
                          'Nagaon',
                          'Nagapattinam',
                          'Nagar',
                          'Nagari',
                          'Nagarkurnool',
                          'Nagaur',
                          'Nagda',
                          'Nagercoil',
                          'Nagina',
                          'Nagla',
                          'Nagpur',
                          'Nahan',
                          'Naharlagun',
                          'Naihati',
                          'Naila',
                          'Janjgir',
                          'Nainital',
                          'Nainpur',
                          'Najibabad',
                          'Nakodar',
                          'Nakur',
                          'Nalasopara',
                          'Nalbari',
                          'Namagiripettai',
                          'Namakkal',
                          'Nanded-Waghala',
                          'Nandgaon',
                          'Nandivaram-Guduvancheri',
                          'Nandura',
                          'Nandurbar',
                          'Nandyal',
                          'Nangal',
                          'Nanjanagoodu',
                          'Nanjikottai',
                          'Nanpara',
                          'Narasapur',
                          'Narasaraopet',
                          'Naraura',
                          'Narayanpet',
                          'Nargund',
                          'Narkatiaganj',
                          'Narkhed',
                          'Narnaul',
                          'Narsinghgarh',
                          'Narsinghgarh',
                          'Narsipatnam',
                          'Narwana',
                          'Nashik',
                          'Nasirabad',
                          'Natham',
                          'Nathdwara',
                          'Naugachhia',
                          'Naugawan',
                          'Sadat',
                          'Nautanwa',
                          'Navalgund',
                          'Navi',
                          'Mumbai',
                          'Navsari',
                          'Nawabganj',
                          'Nawada',
                          'Nawalgarh',
                          'Nawanshahr',
                          'Nawapur',
                          'Nedumangad',
                          'Neem-Ka-Thana',
                          'Neemuch',
                          'Nehtaur',
                          'Nelamangala',
                          'Nellikuppam',
                          'Nellore',
                          'Nepanagar',
                          'New',
                          'Delhi*',
                          'Neyveli',
                          'Neyyattinkara',
                          'Nidadavole',
                          'Nilanga',
                          'Nimbahera',
                          'Nippani',
                          'Nirmal',
                          'Niwai',
                          'Niwari',
                          'Nizamabad',
                          'Nohar',
                          'Noida',
                          'Nokha',
                          'Nokha',
                          'Nongstoin',
                          'Noorpur',
                          'North',
                          'Lakhimpur',
                          'Nowgong',
                          'Nowrozabad',
                          'Nuzvid',
                          'O\' Valley',
                          'Oddanchatram',
                          'Obra',
                          'Ongole',
                          'Orai',
                          'Osmanabad',
                          'Ottappalam',
                          'Ozar',
                          'P.N.Patti',
                          'Pachora',
                          'Pachore',
                          'Pacode',
                          'Padmanabhapuram',
                          'Padra',
                          'Padrauna',
                          'Paithan',
                          'Pakaur',
                          'Palacole',
                          'Palai',
                          'Palakkad',
                          'Palani',
                          'Palanpur',
                          'Palasa',
                          'Kasibugga',
                          'Palghar',
                          'Pali',
                          'Pali',
                          'Palia',
                          'Kalan',
                          'Palitana',
                          'Pondur',
                          'Palladam',
                          'Pallapatti',
                          'Pallikonda',
                          'Palwal',
                          'Palwancha',
                          'Panagar',
                          'Panagudi',
                          'Panaji*',
                          'Panchkula',
                          'Panchla',
                          'Pandharkaoda',
                          'Pandharpur',
                          'Pandhurna',
                          'Pandua',
                          'Panipat',
                          'Panna',
                          'Panniyannur',
                          'Panruti',
                          'Panvel',
                          'Pappinisseri',
                          'Paradip',
                          'Paramakudi',
                          'Parangipettai',
                          'Parasi',
                          'Paravoor',
                          'Parbhani',
                          'Pardi',
                          'Parlakhemundi',
                          'Parli',
                          'Parola',
                          'Partur',
                          'Parvathipuram',
                          'Pasan',
                          'Paschim',
                          'Punropara',
                          'Pasighat',
                          'Patan',
                          'Pathanamthitta',
                          'Pathankot',
                          'Pathardi',
                          'Pathri',
                          'Patiala',
                          'Patna*',
                          'Patran',
                          'Patratu',
                          'Pattamundai',
                          'Patti',
                          'Pattukkottai',
                          'Patur',
                          'Pauni',
                          'Pauri',
                          'Paavagada',
                          'Payyannur',
                          'Pedana',
                          'Peddapuram',
                          'Pehowa',
                          'Pen',
                          'Perambalur',
                          'Peravurani',
                          'Peringathur',
                          'Perinthalmanna',
                          'Periyakulam',
                          'Periyasemur',
                          'Pernampattu',
                          'Perumbavoor',
                          'Petlad',
                          'Phagwara',
                          'Phalodi',
                          'Phaltan',
                          'Phillaur',
                          'Phulabani',
                          'Phulera',
                          'Phulpur',
                          'Phusro',
                          'Pihani',
                          'Pilani',
                          'Pilibanga',
                          'Pilibhit',
                          'Pilkhuwa',
                          'Pindwara',
                          'Pinjore',
                          'Pipar',
                          'City',
                          'Pipariya',
                          'Piro',
                          'Pithampur',
                          'Pithapuram',
                          'Pithoragarh',
                          'Pollachi',
                          'Polur',
                          'Pondicherry*',
                          'Ponnani',
                          'Ponneri',
                          'Ponnur',
                          'Porbandar',
                          'Porsa',
                          'Port',
                          'Blair*',
                          'Powayan',
                          'Prantij',
                          'Pratapgarh',
                          'Pratapgarh',
                          'Prithvipur',
                          'Proddatur',
                          'Pudukkottai',
                          'Pudupattinam',
                          'Pukhrayan',
                          'Pulgaon',
                          'Puliyankudi',
                          'Punalur',
                          'Punch',
                          'Pune',
                          'Punjaipugalur',
                          'Punganur',
                          'Puranpur',
                          'Purna',
                          'Puri',
                          'Purnia',
                          'Purquazi',
                          'Purulia',
                          'Purwa',
                          'Pusad',
                          'Puthooru',
                          'Puttur',
                          'Qadian',
                          'Quilandy',
                          'Rabakavi',
                          'Banahatti',
                          'Radhanpur',
                          'Rae',
                          'Bareli',
                          'Rafiganj',
                          'Raghogarh-Vijaypur',
                          'Raghunathpur',
                          'Rahatgarh',
                          'Raichuri',
                          'Raayachuru',
                          'Raiganj',
                          'Raigarh',
                          'Raikot',
                          'Raipur*',
                          'Rairangpur',
                          'Raisen',
                          'Raisinghnagar',
                          'Rajagangapur',
                          'Rajahmundry',
                          'Rajakhera',
                          'Rajaldesar',
                          'Rajam',
                          'Rajampet',
                          'Rajapalayam',
                          'Rajauri',
                          'Rajgarh',
                          '(Alwar)',
                          'Rajgarh',
                          '(Churu)',
                          'Rajgarh',
                          'Rajgir',
                          'Rajkot',
                          'Rajnandgaon',
                          'Rajpipla',
                          'Rajpura',
                          'Rajsamand',
                          'Rajula',
                          'Rajura',
                          'Ramachandrapuram',
                          'Ramagundam',
                          'Raamanagara',
                          'Ramanathapuram',
                          'Raamadurga',
                          'Rameshwaram',
                          'Ramganj',
                          'Mandi',
                          'Ramngarh',
                          'Ramngarh',
                          'Ramnagar',
                          'Ramnagar',
                          'Rampur',
                          'Rampur',
                          'Maniharan',
                          'Rampura',
                          'Phul',
                          'Rampurhat',
                          'Ramtek',
                          'Ranaghat',
                          'Ranavav',
                          'Ranchi*',
                          'Rangia',
                          'Rania',
                          'Ranibennur',
                          'Rapar',
                          'Rasipuram',
                          'Rasra',
                          'Ratangarh',
                          'Rath',
                          'Ratia',
                          'Ratlam',
                          'Ratnagiri',
                          'Rau',
                          'Raurkela',
                          'Raver',
                          'Rawatbhata',
                          'Rawatsar',
                          'Raxaul',
                          'Bazar',
                          'Rayachoti',
                          'Rayadurg',
                          'Rayagada',
                          'Reengus',
                          'Rehli',
                          'Renigunta',
                          'Renukoot',
                          'Reoti',
                          'Repalle',
                          'Revelganj',
                          'Rewa',
                          'Rewari',
                          'Rishikesh',
                          'Risod',
                          'Robertsganj',
                          'Robertson',
                          'Pet',
                          'Rohtak',
                          'Ron',
                          'Roorkee',
                          'Rosera',
                          'Rudauli',
                          'Rudrapur',
                          'Rudrapur',
                          'Rupnagar',
                          'Sabalgarh',
                          'Sadabad',
                          'Sadalaga',
                          'Sadasivpet',
                          'Sadri',
                          'Sadulshahar',
                          'Safidon',
                          'Safipur',
                          'Sagar',
                          'Saagara',
                          'Sagwara',
                          'Saharanpur',
                          'Saharsa',
                          'Sahaspur',
                          'Sahaswan',
                          'Sahawar',
                          'Sahibganj',
                          'Sahjanwa',
                          'Saidpur',
                          'Saiha',
                          'Sailu',
                          'Sainthia',
                          'Sakaleshapura',
                          'Sakti',
                          'Salaya',
                          'Salem',
                          'Salur',
                          'Samalkha',
                          'Samalkot',
                          'Samana',
                          'Samastipur',
                          'Sambalpur',
                          'Sambhal',
                          'Sambhar',
                          'Samdhan',
                          'Samthar',
                          'Sanand',
                          'Sanawad',
                          'Sanchore',
                          'Sandi',
                          'Sandila',
                          'Sandur',
                          'Sangamner',
                          'Sangareddy',
                          'Sangaria',
                          'Sangli',
                          'Sangole',
                          'Sangrur',
                          'Sankarankoil',
                          'Sankari',
                          'Sankeshwara',
                          'Santipur',
                          'Sarangpur',
                          'Sardarshahar',
                          'Sardhana',
                          'Sarni',
                          'Sasaram',
                          'Sasvad',
                          'Satana',
                          'Satara',
                          'Satna',
                          'Sathyamangalam',
                          'Sattenapalle',
                          'Sattur',
                          'Saunda',
                          'Soudaththi-Yellamma',
                          'Sausar',
                          'Savarkundla',
                          'Savanur',
                          'Savner',
                          'Sawai',
                          'Madhopur',
                          'Sawantwadi',
                          'Sedam',
                          'Sehore',
                          'Sendhwa',
                          'Seohara',
                          'Seoni',
                          'Seoni-Malwa',
                          'Shahabad',
                          'Shahabad,',
                          'Hardoi',
                          'Shahabad,',
                          'Rampur',
                          'Shahade',
                          'Shahbad',
                          'Shahdol',
                          'Shahganj',
                          'Shahjahanpur',
                          'Shahapura',
                          'Shahpura',
                          'Shahpura',
                          'Shajapur',
                          'Shamgarh',
                          'Shamli',
                          'Shamsabad,',
                          'Agra',
                          'Shamsabad,',
                          'Farrukhabad',
                          'Shegaon',
                          'Sheikhpura',
                          'Shendurjana',
                          'Shenkottai',
                          'Sheoganj',
                          'Sheohar',
                          'Sheopur',
                          'Sherghati',
                          'Sherkot',
                          'Shiggaavi',
                          'Shikapur',
                          'Shikarpur,',
                          'Bulandshahr',
                          'Shikohabad',
                          'Shillong*',
                          'Shimla*',
                          'Shivamogga',
                          'Shirdi',
                          'Shirpur-Warwade',
                          'Shirur',
                          'Shishgarh',
                          'Shivpuri',
                          'Sholavandan',
                          'Sholingur',
                          'Shoranur',
                          'Surapura',
                          'Shrigonda',
                          'Shrirampur',
                          'Shree',
                          'Rangapattana',
                          'Shujalpur',
                          'Siana',
                          'Sibsagar',
                          'Siddipet',
                          'Sidhi',
                          'Sidhpur',
                          'Sidhalaghatta',
                          'Sihor',
                          'Sihora',
                          'Sikanderpur',
                          'Sikandra',
                          'Rao',
                          'Sikandrabad',
                          'Sikar',
                          'Silao',
                          'Silapathar',
                          'Silchar',
                          'Siliguri',
                          'Sillod',
                          'Silvassa*',
                          'Simdega',
                          'Sindhagi',
                          'Sindhanooru',
                          'Singapur',
                          'Singrauli',
                          'Sinnar',
                          'Sira',
                          'Sircilla',
                          'Sirhind',
                          'Fatehgarh',
                          'Sahib',
                          'Sirkali',
                          'Sirohi',
                          'Sironj',
                          'Sirsa',
                          'Sirsaganj',
                          'Sirsi',
                          'Sirsi',
                          'Sheraguppa',
                          'Sitamarhi',
                          'Sitapur',
                          'Sitarganj',
                          'Sivaganga',
                          'Sivagiri',
                          'Sivakasi',
                          'Siwan',
                          'Sohagpur',
                          'Sohna',
                          'Sojat',
                          'Solan',
                          'Solapur',
                          'Sonamukhi',
                          'Sonepur',
                          'Songadh',
                          'Sonipat',
                          'Sopore',
                          'Soro',
                          'Soron',
                          'Soyagaon',
                          'Sri',
                          'Madhopur',
                          'Srikakulam',
                          'Srikalahasti',
                          'Sringar',
                          'Shreenivaasapura',
                          'Srisailam',
                          'Project',
                          'Right Flank Colony',
                          'Township',
                          'Srirampore',
                          'Srivilliputhur',
                          'Suar',
                          'Sugauli',
                          'Sujangarh',
                          'Sujanpur',
                          'Sultanganj',
                          'Sultanpur',
                          'Sumerpur',
                          'Sumerpur',
                          'Sunabeda',
                          'Sunam',
                          'Sundargarh',
                          'Sundarnagar',
                          'Supaul',
                          'Surandai',
                          'Surat',
                          'Suratgarh',
                          'Suri',
                          'Suriyampalayam',
                          'Suryapet',
                          'Tadepalligudem',
                          'Tadpatri',
                          'Taki',
                          'Talaja',
                          'Talcher',
                          'Talegaon',
                          'Dabhade',
                          'Thaalikote',
                          'Taliparamba',
                          'Talode',
                          'Talwara',
                          'Tamluk',
                          'Tanda',
                          'Tanda',
                          'Tandur',
                          'Tanuku',
                          'Tarakeswar',
                          'Tarana',
                          'Taranagar',
                          'Taraori',
                          'Tarikere',
                          'Tarn',
                          'Taran',
                          'Tasgaon',
                          'Tehri',
                          'Tekkalakote',
                          'Tenali',
                          'Tenkasi',
                          'Tenu',
                          'Dam-cum-',
                          'Kathhara',
                          'Thergallu',
                          'Tetri',
                          'Bazar',
                          'Tezpur',
                          'Thakurdwara',
                          'Thammampatti',
                          'Thana',
                          'Bhawan',
                          'Thanesar',
                          'Thangadh',
                          'Thanjavur',
                          'Tharad',
                          'Tharamangalam',
                          'Tharangambadi',
                          'Theni',
                          'Allinagaram',
                          'Thirumangalam',
                          'Thirunindravur',
                          'Thiruparappu',
                          'Thirupuvanam',
                          'Thiruthuraipoondi',
                          'Thiruvalla',
                          'Thiruvallur',
                          'Thiruvananthapuram',
                          'Thiruvarur',
                          'Thodupuzha',
                          'Thoothukudi',
                          'Thoubal',
                          'Thrissur',
                          'Thuraiyur',
                          'Tikamgarh',
                          'Tilda',
                          'Newra',
                          'Tilhar',
                          'Tindivanam',
                          'Tinsukia',
                          'Thipatooru',
                          'Tirora',
                          'Tiruchendur',
                          'Tiruchengode',
                          'Tiruchirappalli',
                          'Tirukalukundram',
                          'Tirukkoyilur',
                          'Tirunelveli',
                          'Tirupathur',
                          'Tirupathur',
                          'Tirupati',
                          'Tiruppur',
                          'Tirur',
                          'Tiruttani',
                          'Tiruvannamalai',
                          'Tiruvethipuram',
                          'Tiruvuru',
                          'Tirwaganj',
                          'Titlagarh',
                          'Tittakudi',
                          'Todabhim',
                          'Todaraisingh',
                          'Tohana',
                          'Tonk',
                          'Tuensang',
                          'Tuljapur',
                          'Tulsipur',
                          'Thumakooru',
                          'Tumsar',
                          'Tundla',
                          'Tuni',
                          'Tura',
                          'Uchgaon',
                          'Udaipur',
                          'Udaipur',
                          'Udaipurwati',
                          'Udgir',
                          'Udhagamandalam',
                          'Udhampur',
                          'Udumalaipettai',
                          'Udupi',
                          'Ujhani',
                          'Ujjain',
                          'Umarga',
                          'Umaria',
                          'Umarkhed',
                          'Umarkote',
                          'Umbergaon',
                          'Umred',
                          'Umreth',
                          'Una',
                          'Unjha',
                          'Unnamalaikadai',
                          'Unnao',
                          'Upleta',
                          'Uran',
                          'Uran',
                          'Islampur',
                          'Uravakonda',
                          'Urmar',
                          'Tanda',
                          'Usilampatti',
                          'Uthamapalayam',
                          'Uthiramerur',
                          'Utraula',
                          'Vadakara',
                          'Vadakkuvalliyur',
                          'Vadalur',
                          'Vadgaon',
                          'Kasba',
                          'Vadipatti',
                          'Vadnagar',
                          'Vadodara',
                          'Vaijapur',
                          'Vaikom',
                          'Valparai',
                          'Valsad',
                          'Vandavasi',
                          'Vaniyambadi',
                          'Vapi',
                          'Vapi',
                          'Varanasi',
                          'Varkala',
                          'Vasai',
                          'Vedaranyam',
                          'Vellakoil',
                          'Vellore',
                          'Venkatagiri',
                          'Veraval',
                          'Vicarabad',
                          'Vidisha',
                          'Vijainagar',
                          'Vijapur',
                          'Vijayapura',
                          'Vijayawada',
                          'Vikramasingapuram',
                          'Viluppuram',
                          'Vinukonda',
                          'Viramgam',
                          'Virar',
                          'Virudhachalam',
                          'Virudhunagar',
                          'Visakhapatnam',
                          'Visnagar',
                          'Viswanatham',
                          'Vita',
                          'Vizianagaram',
                          'Vrindavan',
                          'Vyara',
                          'Wadgaon',
                          'Road',
                          'Wadhwan',
                          'Wadi',
                          'Wai',
                          'Wanaparthy',
                          'Wani',
                          'Wankaner',
                          'Wara',
                          'Seoni',
                          'Warangal',
                          'Wardha',
                          'Warhapur',
                          'Warisaliganj',
                          'Warora',
                          'Warud',
                          'Washim',
                          'Wokha',
                          'Yaadhagiri',
                          'Yamunanagar',
                          'Yanam',
                          'Yavatmal',
                          'Yawal',
                          'Yellandu',
                          'Yemmiganur',
                          'Yerraguntla',
                          'Yevla',
                          'Zahirabad',
                          'Zaidpur',
                          'Zamania',
                          'Zira',
                          'Zirakpur',
                          'Zunheboto'],  @address.city), {}, {class: 'form-control parsley-validated', 'data-required' => 'true', autofocus: true}
                        .form-group
                          = a.select :state, options_for_select(['Andhra Pradesh',
                          'Arunachal Pradesh',
                          'Assam',
                          'Bihar',
                          'Chhattisgarh',
                          'Goa',
                          'Gujarat',
                          'Haryana',
                          'Himachal Pradesh',
                          'Jammu & Kashmir',
                          'Jharkhand',
                          'Karnataka',
                          'Kerala',
                          'Madhya Pradesh',
                          'Maharashtra',
                          'Manipur',
                          'Meghalaya',
                          'Mizoram',
                          'Nagaland',
                          'Odisha',
                          'Punjab',
                          'Rajasthan',
                          'Sikkim',
                          'Tamil Nadu',
                          'Telangana',
                          'Tripura',
                          'Uttar Pradesh',
                          'Uttarakhand',
                          'West Bengal'], @address.state), {include_blank:'Select State'}, {class: 'form-control parsley-validated', 'data-required' => 'true', autofocus: true}
                        .form-group
                          = a.select :country, ['India'], {}, {class: 'form-control parsley-validated', 'data-required' => 'true', placeholder: 'Country'}
                        .form-group
                          = a.text_field :zip_code, {class: 'form-control parsley-validated', 'data-required' => 'true', placeholder: 'zip code'}

                    .form-group
                      = f.submit 'Update', {class:'btn btn-sm small-btn btn-primary'}
                      %a{class: 'btn btn-sm small-btn btn-danger customer-address-cancel-btn'} Cancel
      -#-if @package_info.name == "Dental or Vision Check"
      -#  .col-sm-12.p-t
      -#    %section.panel.panel-default.m-n
      -#      %header.panel-heading.text-left
      -#        Select Providers and appointments
      -#      %section.panel-body.slim-scroll
      -#        -unless @location_dental.nil?
      -#          %div.provider_sec
      -#            = form_for "appointment_dental" do |f|
      -#              %h5.font-bold.text.text-primary
      -#                %label.checkDental
      -#                  %input{:type => "radio",:name => 'checkDorV',:checked => 'true'}
      -#                  %span.m-l-sm Dental Provider
      -#              -if @location_dental.each.count>0
      -#                - @location_dental.each do |location|
      -#                  %article.media.check_dental.m-l
      -#                    %div.col-sm-6.row
      -#                      .div.pull-left
      -#                        %input.dental_provider{:name => "selectProvider", :type => "radio", :value => "#{location.addressee_id}"}/
      -#                      .media-body.provider_address.col-sm-10
      -#                        %h5.no_margin.dental_provider
      -#                          = location.name
      -#                    .form-group.dental_Appointment.pull-right.col-sm-6.no_margin
      -#                      = f.text_field "#{location.addressee_id}",{class: 'input-sm input-s form-control datetimepicker hide dental_input global_dental_or_vision', 'readonly'=> 'readonly', 'data-required' => 'true','placeholder' => 'Select an Appointment'}
      -#                    %div.col-sm-12.addr_hide
      -#                      %small.block.col-sm-12
      -#                        %a.text.text-primary
      -#                          = number_with_precision(location.distance, precision: 2) + " away"
      -#                      %small.block.col-sm-12.dental_provider_address
      -#                        = location.details rescue '-'
      -#                        -#= location.line1.to_s + ", " + location.line2.to_s + ", " + location.city.to_s + ", " + location.state.to_s + ", " + location.country.to_s + ", " + location.zip_code.to_s
      -#              -else
      -#                %p There is no dental provider near by your home address
      -#        -unless @location_vision.nil?
      -#          %div.provider_sec
      -#            = form_for "appointment_vision" do |f|
      -#              %h5.font-bold.text.text-primary
      -#                %label.checkVision
      -#                  %input{:type => "radio",:name => 'checkDorV'}
      -#                  %span.m-l-sm Vision Provider
      -#              -if @location_vision.each.count>0
      -#                - @location_vision.each do |location|
      -#                  %article.media.hide.check_vision.m-l
      -#                    %div.col-sm-6.row
      -#                      .div.pull-left
      -#                        %input.vision_provider{:name => "visionProvider", :value => "#{location.addressee_id}", :type => "radio"}/
      -#                      .media-body.provider_address.col-sm-11
      -#                        %small.block.pull-right.takeVision_Appointment.hide
      -#                          .form-group.clearfix
      -#                        %h5.no_margin.vision_provider
      -#                          = location.name
      -#                    .form-group.vision_Appointment.pull-right.col-sm-6.no_margin
      -#                      = f.text_field "#{location.addressee_id}",{class: 'input-sm input-s form-control datetimepicker hide vision_input', 'readonly'=> 'readonly', 'data-required' => 'true','placeholder' => 'Select an Appointment'}
      -#
      -#                    %div.col-sm-12.addr_hide
      -#                      %small.block.col-sm-12
      -#                        %a.text.text-primary
      -#                          = number_with_precision(location.distance, precision: 2) + " away"
      -#                      %small.block.vision_provider_address.col-sm-12
      -#                        = location.details rescue '-'
      -#                      -#= location.line1.to_s + ", " + location.line2.to_s + ", " + location.city.to_s + ", " + location.state.to_s + ", " + location.country.to_s + ", " + location.zip_code.to_s
      -#              -else
      -#                %p There is no vision provider near by your home address
      -#        -unless @location_body.nil?
      -#          %div.provider_sec
      -#            = form_for "appointment_body" do |f|
      -#              %h5.font-bold.text.text-primary Body Checkup
      -#              -unless @address.nil?
      -#                %article.media
      -#                  %div.col-sm-6.row
      -#                    .div.pull-left
      -#                      %input{:checked => "checked", :name => "home_provider", :type => "radio", :value => ""}/
      -#                    .media-body.provider_address.col-sm-11
      -#                      %h5.home_provider Your Home
      -#                  .form-group.pull-right.col-sm-6.body_Appointment.no_margin
      -#                    = f.text_field "#{@address.id}",{class: 'input-sm input-s form-control datetimepicker body_input global_dental_or_vision', 'readonly'=> 'readonly', 'data-required' => 'true','placeholder' => 'Select an Appointment'}
      -#                  %div.col-sm-12.addr_hide
      -#                    %p.block.col-sm-12
      -#                      = @address.details rescue '-'
      -#        %div.pull-left.p-t.col-sm-12
      -#          = form_tag @url, method: :post, :id => "payment" do |payment|
      -#            %input#key{:name =>"key", :type => "hidden", :value => "#{@key}"}
      -#            %input#txnid{:name =>"txnid", :type => "hidden", :value => "#{@transID}"}
      -#            %input#amount{:name =>"amount", :type => "hidden", :value => "#{@package_info.selling_price}"}
      -#            %input#productinfo{:name =>"productinfo", :type => "hidden", :value => "eKincare"}
      -#            %input#firstname{:name =>"firstname", :type => "hidden", :value => "#{@customer.first_name}"}
      -#            %input#email{:name =>"email", :type => "hidden", :value => "#{@customer.email}"}
      -#            %input{:name =>"phone", :type => "hidden", :value => "91#{@customer.mobile_number}"}
      -#            %input{:name =>"surl", :type => "hidden", :value => "#{request.protocol}#{request.host_with_port}/customers/payment_success"}
      -#            %input{:name =>"furl", :type => "hidden", :value => "#{request.protocol}#{request.host_with_port}/customers/payment_failed"}
      -#            %input#hash{:name =>"hash", :type => "hidden", :value => "#{@hash}"}
      -#            %input#testpro{:name =>"testpro", :type => "hidden", :value => "#{@salt}"}
      -#            %input#service_provider{:name =>"service_provider", :type => "hidden", :value => "payu_paisa"}
      -#            %input#customer_id{:name =>"customer_id", :type => "hidden", :value => "#{@customer_id}"}
      -#            %input#package_id{:name =>"package_id", :type => "hidden", :value => "#{@package_info.id}"}
      -#          %section.pull-left.col-sm-7#coupon_section
      -#            %div.col-sm-7.no_padding
      -#              %input{:id=>"coupon_code",:class=>"form-control",:name =>"coupon", 'placeholder' => 'Apply Coupon', :type => "text", :value => ""}
      -#            %div.col-sm-2.no_padding
      -#              %span#coupon_button.btn.btn-success.m-r-sm.pull-left
      -#                Apply
      -#          %section.pull-left.col-sm-7#coupon_success.hide
      -#            %div.col-sm-12
      -#              Coupon Applied Successfully
      -#          %span.btn.btn-success.checkOutContinue.payment_processed.pull-right{:disabled => ""}
      -#            Proceed to payment
      -#          .slimScrollBar{:style => "width: 10px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 164.797507788162px; background: rgb(0, 0, 0);"}
      -#          .slimScrollRail{:style => "width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"}
      -#-else
      .col-sm-12.p-t
        %section.panel.panel-default.m-n
          %header.panel-heading.text-left
            Select Providers and appointments
          %section.panel-body.slim-scroll
            -unless @location_dental.nil?
              %div.provider_sec
                = form_for "appointment_dental" do |f|
                  %h5.font-bold.text.text-primary Dental Provider
                  -if @location_dental.each.count>0
                    - @location_dental.each do |location|
                      %article.media
                        %div.col-sm-6.row
                          .div.pull-left
                            %input.dental_provider{:name => "selectProvider", :type => "radio", :value => "#{location.addressee_id}"}/
                          .media-body.provider_address.col-sm-10
                            %h5.no_margin.dental_provider
                              = location.name
                        .form-group.dental_Appointment.pull-right.col-sm-6.no_margin
                          = f.text_field "#{location.addressee_id}",{class: 'input-sm input-s form-control datetimepicker1 hide dental_input z_idx_id', 'readonly'=> 'readonly', 'data-required' => 'true','placeholder' => 'Select an Appointment'}
                        %div.col-sm-12.addr_hide
                          %small.block.col-sm-12
                            %a.text.text-primary
                              = number_with_precision(location.distance, precision: 2) + " away"
                          %small.block.col-sm-12.dental_provider_address
                            = location.details rescue '-'
                  -else
                    %p There is no dental provider near by your home address
            -unless @location_vision.nil?
              %div.provider_sec
                = form_for "appointment_vision" do |f|
                  %h5.font-bold.text.text-primary Vision Provider
                  -if @location_vision.each.count>0
                    - @location_vision.each do |location|
                      %article.media
                        %div.col-sm-6.row
                          .div.pull-left
                            %input.vision_provider{:name => "visionProvider", :value => "#{location.addressee_id}", :type => "radio"}/
                          .media-body.provider_address.col-sm-11
                            %small.block.pull-right.takeVision_Appointment.hide
                              .form-group.clearfix
                            %h5.no_margin.vision_provider
                              = location.name
                        .form-group.vision_Appointment.pull-right.col-sm-6.no_margin
                          = f.text_field "#{location.addressee_id}",{class: 'input-sm input-s form-control datetimepicker2 hide vision_input z_idx_id', 'readonly'=> 'readonly', 'data-required' => 'true','placeholder' => 'Select an Appointment'}

                        %div.col-sm-12.addr_hide
                          %small.block.col-sm-12
                            %a.text.text-primary
                              = number_with_precision(location.distance, precision: 2) + " away"
                          %small.block.vision_provider_address.col-sm-12
                            = location.details rescue '-'
                  -else
                    %p There is no vision provider near by your home address
            -unless @location_body.nil?
              %div.provider_sec
                = form_for "appointment_body" do |f|
                  %h5.font-bold.text.text-primary Body Checkup
                  -unless @address.nil?
                    %article.media
                      %div.col-sm-6.row
                        .div.pull-left
                          %input{:checked => "checked", :name => "home_provider", :type => "radio", :value => ""}/
                        .media-body.provider_address.col-sm-11
                          %h5.home_provider Your Home
                      .form-group.pull-right.col-sm-6.body_Appointment.no_margin
                        = f.text_field "#{@address.id}",{class: 'input-sm input-s form-control datetimepicker3 body_input z_idx_id', 'readonly'=> 'readonly', 'data-required' => 'true','placeholder' => 'Select an Appointment'}
                      %div.col-sm-12.addr_hide
                        %p.block.col-sm-12
                          = @address.details rescue '-'
            %div.pull-left.p-t.col-sm-12
              = form_tag @url, method: :post, :id => "payment" do |payment|
                %input#key{:name =>"key", :type => "hidden", :value => "#{@key}"}
                %input#txnid{:name =>"txnid", :type => "hidden", :value => "#{@transID}"}
                %input#amount{:name =>"amount", :type => "hidden", :value => "#{@package_info.selling_price}"}
                %input#productinfo{:name =>"productinfo", :type => "hidden", :value => "eKincare"}
                %input#firstname{:name =>"firstname", :type => "hidden", :value => "#{@customer.first_name}"}
                %input#email{:name =>"email", :type => "hidden", :value => "#{@customer.email}"}
                %input{:name =>"phone", :type => "hidden", :value => "91#{@customer.mobile_number}"}
                %input{:name =>"surl", :type => "hidden", :value => "#{request.protocol}#{request.host_with_port}/customers/payment_success"}
                %input{:name =>"furl", :type => "hidden", :value => "#{request.protocol}#{request.host_with_port}/customers/payment_failed"}
                %input#hash{:name =>"hash", :type => "hidden", :value => "#{@hash}"}
                %input#testpro{:name =>"testpro", :type => "hidden", :value => "#{@salt}"}
                %input#service_provider{:name =>"service_provider", :type => "hidden", :value => "payu_paisa"}
                %input#customer_id{:name =>"customer_id", :type => "hidden", :value => "#{@customer_id}"}
                %input#package_id{:name =>"package_id", :type => "hidden", :value => "#{@package_info.id}"}
                %input#city{:name =>"city", :type => "hidden", :value => ""}
                %section.pull-left.col-sm-7#coupon_section
                  %div.col-sm-7.no_padding
                    %input{:id=>"coupon_code",:class=>"form-control",:name =>"coupon", 'placeholder' => 'Apply Coupon', :type => "text", :value => ""}
                  %div.col-sm-2.no_padding
                    %span#coupon_button.btn.btn-success.pull-left.m-r-sm
                      Apply
                %section.pull-left.col-sm-7#coupon_success.hide
                  %div.col-sm-12
                    Coupon Applied Successfully
                %span.pull-right.btn.btn-success.checkOutContinue{:disabled => ""}
                  Proceed to payment
              .slimScrollBar{:style => "width: 10px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 164.797507788162px; background: rgb(0, 0, 0);"}
              .slimScrollRail{:style => "width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"}
    .col-sm-5
      .col-sm-12.package-summary
        %section.panel.panel-default
          %header.panel-heading
            Checkout summary
          .panel-body.clearfix
            %section.pull-left.col-sm-6

              %h5.h5.font-bold.text.text-primary
                = @package_info.name
              %h5.p-t
                Includes:
              %ul
                -if @package_info.name == "Apollo Smile Dental Package"
                  %li
                    Comprehensive dental check
                  %li
                    For a family of 4 members
                  %li
                    Free online reports
                -if @package_info.name == "Pro Package"
                  %li
                    60+ test
                  %li
                    Dental & Vision check
                  %li
                    Home collection
                  %li
                    Online Reports
                -if @package_info.name == "Baseline Package"
                  %li
                    30+ test
                  %li
                    Dental & Vision check
                  %li
                    Home collection
                  %li
                    Online Reports
                -if @package_info.name == "Dental Check"
                  %li
                    Comprehensive dental check
                  %li
                    Online Reports
                -if @package_info.name == "Vision Check"
                  %li
                    Comprehensive vision check
                  %li
                    Online Reports
                -if @package_info.name == "Dental & Vision Check"
                  %li
                    Comprehensive vision and dental exam that checks the health of your eyes and teeth
                  %li
                    Online Reports
                -if @package_info.name == "Diabetes Package"
                  %li
                    Tests for average glucose levels over a period of 2-3 months
                  %li
                    Lipid profile
                  %li
                    Home collection
                  %li
                    Online Reports
                -if @package_info.name == "Thyroid Package"
                  %li
                    Includes T3, T4 and TSH tests
                  %li
                    Home collection
                  %li
                    Online Reports
            %section.pull-right.package_right.p-t.line_hgt_12.m-t
              %p#price.eKin_price.font-bold
                = "Rs "+number_with_precision(@package_info.selling_price, precision: 2)
              %p
                %strike.text-danger.text-sm
                  = "Rs "+number_with_precision(@package_info.mrp, precision: 2)
              %p.text-sm
                You Saved:
                %span
                  = number_with_precision(@package_info.discount, precision: 0) + "%"
          .panel-body
            -unless @location_dental.nil?
              %section.pull-left.col-sm-12.hide
                %h5.h5.font-bold.text.text-primary
                  Dental Provider
                %div
                  %input.dental_input_val{:name => "dental_input_val", :type => "hidden"}/
                  .pull-right.media-xs.text-center.text-muted
                    %strong.h3.dental_time
                    %br
                    %strong.h3.dental_date
                    %strong.h3.dental_month
                    -#%small.label.bg-light.dental_year
                  %p.dental_provider_val
                  %p.dental_provider_address_val
            -unless @location_vision.nil?
              %section.pull-left.col-sm-12.p-t.hide
                %h5.h5.font-bold.text.text-primary
                  Vision Provider
                %div
                  %input.vision_input_val{:name => "vision_input_val", :type => "hidden"}/
                  .pull-right.media-xs.text-center.text-muted
                    %strong.h3.vision_time
                    %br
                    %strong.h3.vision_date
                    %strong.h3.vision_month
                    -#%small.label.bg-light.vision_year
                  %p.vision_provider_val
                  %p.vision_provider_address_val
            -unless @location_body.nil?
              %section.pull-left.col-sm-12.p-t
                %h5.h5.font-bold.text.text-primary
                  Body Checkup
                %div
                %div
                  %input.body_input_val{:name => "body_input_val", :type => "hidden"}/
                  .pull-right.media-xs.text-center.text-muted
                    %strong.h3.body_time
                    %br
                    %strong.h3.body_date
                    %strong.h3.body_month
                    -#%small.label.bg-light.body_year
                  %p
                    Samples will be collected at below address
                  %p
                    = @address.details rescue '-'


%a.hide.nav-off-screen-block{"data-target" => "#nav,html", "data-toggle" => "class:nav-off-screen", href: "#"}
