- inbox_activities = current_online_customer.inbox_messages.where("activity_type like '%Assessment%'")
%section.panel-body.open-sans.scrollable
  - if (inbox_activities.where("activity_type like '%Assessment%'").count-inbox_activities.where("status = true and activity_type like '%Assessment%'").count) == 0
    %section.panel-body{style:"color: black;"}
      No Assessments
  - else
    -if type=inbox_activities.last.activity_type.split('Assessment')
      %a.auto{href: '/customers/health_assessments?type='+type[0].to_s}
        %span.label.label-info
          view all assessments
    - inbox_activities.each do |activity|
      -unless activity.activity_type =~ /Assessment/ and activity.status==true
        -unless activity.activity_type == 'Appointment'
          %article.media
            %span.pull-left.thumb-sm
              - if activity.activity_type == 'MedicalRecord'
                %i.fa.fa-clipboard.fa.fa-2x
              - elsif activity.activity_type == 'BodyAssessment'
                %i.glyphicon.glyphicon-user.fa-2x.icon-muted
              - elsif activity.activity_type == 'DentalAssessment'
                -#%i.fa.fa-file-o.fa-2x.icon-muted
                = image_tag("tooth_icon.png", size: "30x30", style: 'opacity: 0.5;height: 30px;width: 25px')
              - elsif activity.activity_type == 'VisionAssessment'
                %i.glyphicon.glyphicon-eye-open.fa-2x.icon-muted
            -#- else
            -#  - if activity.activity_type == 'Appointment'
            -#    - a = Appointment.find(activity.associated_id) rescue ''
            -#    - assessment_type = a.appointmentee.assessment_type rescue ''
            -#    - if assessment_type == 'Body'
            -#      %i.glyphicon.glyphicon-user.fa-2x.icon-muted
            -#    - elsif assessment_type == 'Dental'
            -#      = image_tag("tooth_icon.png", size: "30x30", style: 'opacity: 0.5;height: 30px;width: 25px')
            -#    - elsif assessment_type == 'Vision'
            -#      %i.glyphicon.glyphicon-eye-open.fa-2x.icon-muted
            -#    - else
            -#hi
            .media-body.text-muted
              .pull-right.media-xs.text-center.text-muted
                - if activity.associated_date.to_date > Date.today.to_date
                  %strong.h4
                    = day activity.associated_date
                  %br
                  %small.label.bg-light
                    = month_name activity.associated_date
                - else
                  - if activity.is_appointment_message?
                    %strong.h4
                      = time_stamp activity.appointment.date
                    %br
                    %small.label.bg-light
                      = am_pm activity.appointment.date
                  - else
                    %strong.h4
                      = day activity.associated_date
                    %br
                    %small.label.bg-light
                      = month_name activity.associated_date

                %br/
              -#%small.label.bg-light
                              -#= formatted_date activity.created_at
              - if activity.activity_type =~ /Assessment/
                %a.h5{style: 'color: #000', href: customers_health_assessments_path({type: activity.activity_type.gsub!(/Assessment/, ''), id: activity.associated_id,inbox_id:activity.id})}
                  = activity.title
              - elsif activity.activity_type == 'MedicalRecord'
                %a.h5{style: 'color: #000', href: customers_documents_path}
                  = activity.title
              -else
                %a.h5{style: 'color: #000'}
                  = activity.title
              %small.block
                -#%a{href: "#"} John Smith
                %span.label.label-success
                  = activity.badge
              - if activity.is_appointment_message?
                %small.block.m-t-sm
                  - if activity.appointment.is_partner?
                    Assessment provider:
                    %b
                      = activity.appointment.partner_name
                    %br
                  - unless activity.appointment.location.nil?
                    Assessment location:
                    = activity.appointment.location.details rescue ''

              - elsif activity.is_recommendation_message?
                - description = activity.recommendation.description
                %small.block.m-t-sm
                  Title:
                  %b
                    = activity.recommendation.title
                  %br
                  Description:
                  = description.empty? ? 'None' : description
