= content_for :title, 'Dashboard'

- content_for :zopim_chat do
  :javascript
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?2Um2B0Y0KEgOyEsT8WLIjMFjSeBkufvQ';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
%head
  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6025689838855', {'value':'0.01','currency':'USD'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025689838855&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
%div.clearfix.breadcrumb
  %ol.padder
    = render_breadcrumbs :separator => ' / '
    %small.pull-right
      Contact: 888-678-EKIN (3546) /
      %a{href: 'mailto:founder@ekincare.com'} founder@ekincare.com

%div{style: 'min-height: 1000px'}
  %section.scrollable.wrapper.w-f
    %div.row
      %section#content
        %section.vbox
          %section.scrollable.wrapper.w-f{:id=>'customer-info-wizard'}
            %section.row.m-b-md.padder.hide{:id=>'height_weight'}
              .col-xs-12.wizard-section
                .wizard-heading Let's Customize your account
                .col-xs-6.question.question-left{:style => ""}
                  .question-content
                    .question-text Your Weight?
                    %img.full{:src => asset_path("icons/weight.png"), :style => ""}/
                    .answer{:style => ""}
                      %input.col-xs-12.pull-left.numeric{:id=>'weight',:placeholder => "weight in KGs"}
                .col-xs-6.question.question-right
                  .question-content
                    .question-text Your height?
                    %img.full{:src => asset_path("icons/height.png")}/
                    .answer{:style => ""}
                      %div.pull-left{:style => "width:48%;padding:0;"}
                        %input.numeric{:id=>'feet', required: true,:placeholder => "feet",:style => "width:100%;"}
                      %div.pull-right{:style => "width:48%;padding:0;"}
                        %input.numeric{:id=>'inches', required: true,:placeholder => "inches",:style => "width:100%;"}
                    .btn.btn-default.btn-success.wixard-next-button#height_weight_next{:style => "bottom:-90px;"} Next
                .ekin-wizard-message.col-xs-12{:style => ""}
                  Hey
                  = current_online_customer.first_name
                  %br/
                  #height-weight-message
                    Do you know that your heart beats about 1,00,000 times in a day.
            %section.row.m-b-md.padder.hide{:id=>'waist_bloodgroup'}
              .col-xs-12.wizard-section
                .wizard-heading Let's Customize your account
                .col-xs-6.question.question-left{:style => ""}
                  .question-content
                    .question-text Waist size?
                    %img{:src => asset_path("icons/waist.png"), :style => ""}/
                    .answer{:style => ""}
                      %input.col-xs-12.pull-left.numeric{:id=>'waist_size',:placeholder => "waist Size in inches"}
                .col-xs-6.question.question-right
                  .question-content
                    .question-text Blood group?
                    %img{:src => asset_path("icons/blood.png")}/
                    .answer{:id=>'blood_group_choice',:style => ""}
                      .ekin-choices
                      - BloodGroup.all.each do |blood_group|
                        %button.btn.btn-default.ekin-choice.blood-group{:name => "blood_group",:type => "button",:id=>blood_group.id}
                          =blood_group.blood_type
                      #blood_group_error.validation-error.hide
                        select blood group
                    .btn.btn-default.btn-success.wixard-next-button{:id=>'waist_bloodgroup_next',:style => "bottom:-60px;"} Next
                .ekin-wizard-message.col-xs-12{:style => ""}
                  Hey
                  = current_online_customer.first_name
                  %br/
                  #waist-bloodgroup-message
                    Do you know that your heart beats about 1,00,000 times in a day.
            %section.row.m-b-md.padder.hide{:id=>'activities'}
              .col-xs-12.wizard-section
                .wizard-heading Let's Customize your account
                .col-xs-4.question.question-left{:style => ""}
                  .question-content
                    .question-text Alcohol?
                    %img{:src => asset_path("icons/liver.png"), :style => ""}/
                    .answer{:id=>'alcohol-choices-id',:style => ""}
                      .ekin-choices
                        %button.btn.btn-default.ekin-choice.full.alcohol{:type => "button",:value=>'Frequently'} Frequently
                        %button.btn.btn-default.ekin-choice.full.alcohol{:type => "button",:value=>'Ocasionally'} Ocasionally
                        %button.btn.btn-default.ekin-choice.full.alcohol{:type => "button",:value=>'Never'} Never
                      #alcohol_error.validation-error.hide
                        select any option
                .col-xs-4.question.question-right
                  .question-content
                    .question-text Smoke?
                    %img{:src => asset_path("icons/smoke.png")}/
                    .answer{:id=>'smoke-choices-id',:style => ""}
                      .ekin-choices
                        %button.btn.btn-default.ekin-choice.full.smoke{:type => "button",:value=>'Frequently'} Frequently
                        %button.btn.btn-default.ekin-choice.full.smoke{:type => "button",:value=>'Ocasionally'} Ocasionally
                        %button.btn.btn-default.ekin-choice.full.smoke{:type => "button",:value=>'Never'} Never
                      #smoke_error.validation-error.hide
                        select any option
                    .btn.btn-default.btn-success.wixard-next-button{:style => "bottom:-60px;display:none;"} Next
                .col-xs-4.question.question-right
                  .question-content
                    .question-text Exercise?
                    %img{:src => asset_path("icons/exercise.png")}/
                    .answer{:id=>'exercise-choices-id',:style => ""}
                      .ekin-choices
                        %button.btn.btn-default.ekin-choice.full.exercise{:type => "button",:value=>'Frequently'} Frequently
                        %button.btn.btn-default.ekin-choice.full.exercise{:type => "button",:value=>'Ocasionally'} Ocasionally
                        %button.btn.btn-default.ekin-choice.full.exercise{:type => "button",:value=>'Never'} Never
                      #exercise_error.validation-error.hide
                        select any option
                    .btn.btn-default.btn-success.wixard-next-button{:id=>'activities_next',:style => "bottom:-50px;"} Next
                .ekin-wizard-message.col-xs-12{:style => ""}
                  Hey
                  = current_online_customer.first_name
                  %br/
                  #activities-message
                    Do you know that your heart beats about 1,00,000 times in a day.
            %section.row.m-b-md.padder.hide{:id=>'family_medical_history'}
              .col-xs-12.wizard-section
                .wizard-heading Let's Customize your account
                .col-xs-6.question.question-left{:style => ""}
                  .question-content
                    .question-text Father's medical condition?
                    %img{:src => asset_path("icons/father.png"), :style => ""}/
                    .answer{:id=>'father_health_info',:style => "margin-top:5px;"}
                      .ekin-choices
                        -MedicalCondition.all.each do |medical_condition|
                          %button.btn.btn-default.ekin-multi-choice.full.father-medical-history{:type => "button",:id=>medical_condition.id}
                            = medical_condition.name
                .col-xs-6.question.question-right
                  .question-content
                    .question-text Mother's medical condition?
                    %img{:src => asset_path("icons/mother.png")}/
                    .answer{:id=>'mother_health_info',:style => "margin-top:5px;"}
                      .ekin-choices
                        -MedicalCondition.all.each do |medical_condition|
                          %button.btn.btn-default.ekin-multi-choice.full.mother-medical-history{:type => "button",:id=>medical_condition.id}
                            = medical_condition.name
                    .btn.btn-default.btn-success.wixard-next-button{:id=>'family_medical_history_next',:style => "bottom:-50px;"} Next
                .ekin-wizard-message.col-xs-12{:style => ""}
                  Hey
                  = current_online_customer.first_name
                  %br/
                  #family-info-message
                    Do you know that your heart beats about 1,00,000 times in a day
            %section.row.m-b-md.padder.hide{:id=>'health_information'}
              .col-xs-12.wizard-section
                .wizard-heading Let's Customize your account
                .col-xs-6.question.question-left{:style => ""}
                  .question-content
                    .question-text Hypertension?
                    %img.full{:src => asset_path("icons/hypertension.png"), :style => ""}/
                    .answer{:style => ""}
                      %div.pull-left{:style => "width:48%;padding:0;"}
                        %input.numeric{:id=>'systolic', required: true,:placeholder => "systolic", :style => "padding-left:4px;width:100%"}
                      %div.pull-right{:style => "width:48%;padding:0;"}
                        %input.numeric{:id=>'diastolic', required: true,:placeholder => "diastolic", :style => "padding-left:4px;width:100%"}
                .col-xs-6.question.question-right
                  .question-content
                    .question-text Diabetes?
                    %img.full{:src => asset_path("icons/diabetes.png")}/
                    .answer{:style => ""}
                      %input.col-xs-12.pull-left.numeric{:id=>'blood_sugar',:placeholder => "blood sugar reading"}
                    .btn.btn-default.btn-info.wixard-next-button{:id=>'health_information_skip',:style => "bottom:-90px;right:70px;"} Skip this question
                    .btn.btn-default.btn-success.wixard-next-button{:id=>'health_information_finish',:style => "bottom:-90px;"} Finish
                .ekin-wizard-message.col-xs-12{:style => ""}
                  Hey
                  = current_online_customer.first_name
                  %br/
                  #health-info-message
                    Do you know that your heart beats about 1,00,000 times in a day.
    %div.row
      .col-lg-4.col-md-4
        %section.panel.b-a#hypertension_score_chart.hide
          .panel-heading.no-border.bg-primary.lt
            %a.h4.text-lt.m-t-sm.m-b-sm.block.font-bold{:href => "#"} Risk of Hypertension
          .panel-body
            #b-c.text-center
              .hypertension_chart.inline.m-b.m-t{"data-animate" => "2000", "data-bar-Color" => "#afc5de", "data-line-cap" => "butt", "data-line-width" => "10", "data-percent" => @hypertension_percentage, "data-scale-Color" => "false", "data-size" => "150", "data-track-Color" => "#f2f4f8"}
                %div
                  %span.h1.m-l-sm.step.font-bold#hypertension-score>
                    =@hypertension_percentage
                  \%
                  .text.text-xs.text-muted
                    Probability of risk
                    .br
                      for the next year
          .clearfix.panel-footer.panel-graph-padding
            .col-md-9.b-r
              %a#score-graph
                %i.i.i-graph.text-muted
            .col-md-3.b-r.text-center
              %small.text-muted
                %i.i.i-info{title: "If your risk is above the optimal profile, please consider serious lifestyle changes like exercising regularly, losing weight"}

          %div
            %section.panel.panel-default#hypertension_history_chart
              .panel-heading.no-border.bg-primary.lt
                %a.h4.text-lt.m-t-sm.m-b-sm.block.font-bold{:href => "#"} Hypertension Prediction
              .panel-body.text-center
                #flot-bar{:style => "height:180px"}
              .clearfix.panel-footer.panel-graph-padding
                .col-md-9.b-r
                  %a#hypertension_history_graph
                    %i.fa.fa-toggle-left
                .col-md-3.b-r.text-center
                  %small.text-muted
                    %i.i.i-info{title: "If your risk is above the optimal profile, please consider serious lifestyle changes like exercising regularly, losing weight"}
      .col-lg-4.col-md-4
        %section.panel.b-a#diabetes_score_chart.hide
          .panel-heading.no-border.bg-info.lt
            %a.h4.text-lt.m-t-sm.m-b-sm.block.font-bold{:href => "#"} Risk of Diabetes
          .panel-body
            #b-c.text-center
              .diabetes_chart.inline.m-b.m-t{"data-animate" => "2000", "data-bar-Color" => "#c2f0f1", "data-line-cap" => "butt", "data-line-width" => "10", "data-percent" => @diabetic_score, "data-scale-Color" => "false", "data-size" => "150", "data-track-Color" => "#f2f4f8"}
                %div
                  %span.h1.m-l-sm.step.font-bold#diabetes-score>
                    =@diabetic_score
                  \%
                  .text.text-xs.text-muted
                    Probability of risk
                    .br
                      for the next year
          .clearfix.panel-footer.panel-graph-padding
            .col-md-9.b-r
              %a{:href => "#"}
                %i &nbsp;
            .col-md-3.b-r.text-center
              %small.text-muted
                %i.i.i-info{title: "A simplified Diabetes Risk Score to screen undiagnosed diabetics. If your score is above 60% we highly recommend visiting your nearest physician and serious lifestyle changes."}
    %div.row.p-t
      .col-lg-3.col-md-3.m-b
        %section.panel.panel-default.m-n
          %header.panel-heading.text-center
            Age
          .panel-body.text-center
            .inline
              %h4.h4.font-bold
                %span.h4
                = current_online_customer.age['year']
                %span.h4
                %small year
                =current_online_customer.age['month']
                %small month
          %header.panel-heading.text-center
            %small.text-muted
              = formatted_date DateTime.now

      .col-lg-3.col-md-3.hide.m-b
        %section.panel.panel-default.m-n#height_section
          %header.panel-heading.text-center
            Height
          .panel-body.text-center
            .inline
              %h4.h4.font-bold
                %span#feet_val.h4.font-bold
                  = current_online_customer.customer_vitals.feet
                %small feet
                %span#inches_val.h4.font-bold
                  = current_online_customer.customer_vitals.inches
                %small inches
          %header.panel-heading.text-center
            %small.text-muted#height_date
              = formatted_date current_online_customer.customer_vitals.updated_at rescue '-'
      .col-lg-3.col-md-3.hide.m-b
        %section.panel.panel-default.m-n#weight_section
          %header.panel-heading.text-center
            Weight
          .panel-body.text-center
            .inline
              %h4.h4.font-bold
                %span.h4.font-bold#weight_val
                  =current_online_customer.customer_vitals.weight
                %small Kgs
          %header.panel-heading.text-center
            %small.text-muted#weight_date
              = formatted_date current_online_customer.customer_vitals.updated_at rescue '-'
      .col-lg-3.col-md-3.hide.m-b
        %section.panel.panel-default.m-n#bmi_section
          %header.panel-heading.text-center
            Body Mass Index
          .panel-body.text-center
            .inline
              %h4.font-bold
                %span.h4.font-bold
                  %b#bmi{class: "#{current_online_customer.colored_bmi}"}
                    = current_online_customer.bmi
                %small
          %header.panel-heading.text-center
            %small.text-muted#bmi_date
              = formatted_date current_online_customer.customer_vitals.updated_at rescue '-'

      .col-lg-3.col-md-3.hide.m-b
        %section.panel.panel-default.m-n#blood_group_section
          %header.panel-heading.text-center
            Blood group
          .panel-body.text-center
            .inline
              %h4.h4.font-bold
                %span.h4#blood_group_val
                  = current_online_customer.customer_vitals.blood_group.blood_type rescue '-'
          %header.panel-heading.text-center
            %small.text-muted#blood_group_date
              = formatted_date current_online_customer.customer_vitals.updated_at rescue '-'
      .col-lg-3.col-md-3.m-b
        %section.panel.panel-default.m-n#recent_body_assessment_section
          %header.panel-heading.text-center
            Recent assessment
          .panel-body.text-center
            .inline
              %h4.h4.font-bold
                %span.h4#recent_assessment_val
                  =current_online_customer.assessment_type.assessment_type rescue '-'
          %header.panel-heading.text-center
            %small.text-muted#recent_assessment_date
              - if current_online_customer.recent_health_assessment_done.nil?
                \-
              - else
                = "#{formatted_date current_online_customer.recent_health_assessment_done.request_date}"
      .col-lg-3.col-md-3.m-b
        %section.panel.panel-default.m-n.bp_Values#blood_pressure_section
          %header.panel-heading.text-center
            Blood pressure
          .panel-body.text-center
            .inline
              %a.h4.font-bold{ id: "blood_pressure", data: {type: "blood_pressure"} }
                %input#customer_id{:type => "hidden", :value => current_online_customer.id}/
                %span.h4.font-bold#systolic_val.systolic_color{class: "#{current_online_customer.systolic[:color]}"}
                  = "#{current_online_customer.systolic[:result]}"
                \/
                %span.h4.font-bold#diastolic_val.diastolic_color{class: "#{current_online_customer.diastolic[:color]}"}
                  = "#{current_online_customer.diastolic[:result]}"
              %small{:style => "color:#999"}
                = "#{current_online_customer.diastolic[:units]}"
          %header.panel-heading.text-center.clearfix.panel-footer
            %small.text-muted#bp_date
              = formatted_date current_online_customer.assessment_body_bp
      .col-lg-3.col-md-3
        %section.panel.panel-default.m-n
          %ul.nav.nav-tabs
            %header.panel-heading.text-center
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %small#heading
                  Blood Glucose
                %b.caret
              %ul.dropdown-menu.text-left#blood_glucose
                - if current_online_customer.recent_body_assessment
                  - LabTest.find_by(name: "Blood Glucose", enterprise_id: "#{current_online_customer.recent_body_assessment.enterprise_id ? current_online_customer.recent_body_assessment.enterprise_id : Enterprise.find_by_enterprise_id('EK').id}").test_components.each do |test_component|
                    %li.active
                      %a{"data-toggle" => "tab", :href => "#"+test_component.id.to_s, :value=> test_component.id}
                        = test_component.name
                - else
                  - LabTest.find_by(name: "Blood Glucose", enterprise_id: Enterprise.find_by_enterprise_id('EK').id).test_components.each do |test_component|
                    %li.active
                      %a{"data-toggle" => "tab", :href => "#"+test_component.id.to_s, :value=> test_component.id}
                        = test_component.name
            .panel-body.text-center.pad_2
              .tab-content
                - if current_online_customer.recent_body_assessment
                  - LabTest.find_by(name: "Blood Glucose", enterprise_id: "#{current_online_customer.recent_body_assessment.enterprise_id ? current_online_customer.recent_body_assessment.enterprise_id : Enterprise.find_by_enterprise_id('EK').id}").test_components.each_with_index do |test_component, index|
                    .tab-pane{:id => "#{test_component.id}", :class => "#{(index == 0) ? 'active' : 'fade'}"}
                      .inline
                        %h4.font-bold
                          %span.h4.font-bold#blood_sugar_color
                            %b{ class: "#{current_online_customer.blood_sugar(test_component.name)[:color]}"}
                              = editable current_online_customer.blood_sugar_result(test_component.name), :result,url: customers_customer_lab_results_update_blood_sugar_path({customer_id:current_online_customer.id,id: current_online_customer.blood_sugar_result(test_component.name),test_component_id:test_component.id})
                          %small
                            = "#{current_online_customer.blood_sugar(test_component.name)[:units]}"
                      %small.clearfix#type_of_sugar
                        =test_component.name
                - else
                  - LabTest.find_by(name: "Blood Glucose", enterprise_id: Enterprise.find_by_enterprise_id('EK').id).test_components.each_with_index do |test_component, index|
                    .tab-pane{:id => "#{test_component.id}", :class => "#{(index == 0) ? 'active' : 'fade'}"}
                      .inline
                        %h4.font-bold
                          %span.h4.font-bold#blood_sugar_color
                            %b{ class: "#{current_online_customer.blood_sugar(test_component.name)[:color]}"}
                              = editable current_online_customer.blood_sugar_result(test_component.name), :result,url: customers_customer_lab_results_update_blood_sugar_path({customer_id:current_online_customer.id,id: current_online_customer.blood_sugar_result(test_component.name),test_component_id:test_component.id})
                          %small
                            = "#{current_online_customer.blood_sugar(test_component.name)[:units]}"
                      %small.clearfix#type_of_sugar
                        =test_component.name
          %header.panel-heading.text-center.clearfix.panel-footer
            %small.text-muted#blood_sugar_date
              = formatted_date current_online_customer.assessment_body_sugar
    %div.row.p-t
      - icons = ['i-plus2', 'i-users2', 'i-location', 'i-alarm']
      - if !current_online_customer.insufficient_results.nil?
        - index = -1
        - current_online_customer.insufficient_results.each do |test_name, test_components|
          - test_components.each do |component|
            - index = index + 1
            - pr = (0 == index % 3)
            - pl = (2 == index % 3)
            - body_assessment = component[:lab_result].body_assessment
            .col-md-3.lt.col-lg-3.m-b
              %a{href: customers_health_assessments_path({id: body_assessment.id, type: 'Body'})}
                %section.panel.panel-default.m-n.b-n
                  %header.panel-heading.text-center
                    = "#{test_name} abnormality".truncate(35)
                .bg-white.text-center.b
                  %section.block.hover.m-s
                    %span.m-xs.clear
                      %h4.m-xs.font-bold
                        %span.m-xs{class: "#{component[:color]}"}
                          = component[:value]
                          &nbsp;
                        %small
                          = component[:units]
                          &nbsp;
                      %small.text-muted.text-c
                        = component[:name].truncate(35)
                  .padder-v.text-center.clearfix.panel-footer
                    .col-md-9.b-r
                      %small.text-muted
                        = formatted_date body_assessment.request_date
                    .col-md-3.b-r
                      %small.text-muted
                        %i.i.i-info{title: component[:lab_result].test_component.info}
    - if session[:is_customer]
      %div.row.p-t
        .col-md-6.lt.col-lg-6
          %section.panel.panel-default
            %header.panel-heading
              Comments
            .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 230px;"}
              %section.panel-body.slim-scroll{"data-height" => "230px", "data-size" => "10px", :style => "overflow: hidden; overflow-y: scroll; width: auto; height: 230px;"}
                -no_comments = true
                -@comments.each do |comment|
                  -no_comments = false
                  - if comment.notes_id.nil?
                    %article.media.list-group-item
                      .media-body
                        .pull-right.media-xs.text-center.text-muted
                          %strong
                            = formatted_date comment.created_at
                            -#= full_time comment.created_at
                        %small.block
                          Doctor Name:
                          = comment.doctor_name
                        %small.block.m-t-sm
                          General Comment:
                          = comment.general_comments
                    .line.line-xs.pull-in
                  - else
                    -unless comment.health_assessment_id.nil?
                      - assessment = HealthAssessment.find(comment.health_assessment_id) ? HealthAssessment.find(comment.health_assessment_id) : nil
                      -if assessment
                        %article.media.list-group-item
                          .media-body
                            .pull-right.media-xs.text-center.text-muted
                              %strong
                                = formatted_date comment.created_at
                            -#= full_time comment.created_at
                            %small.block
                              Doctor Name:
                              = comment.doctor_name
                            %small.block.m-t-sm
                              %a.h5{style: 'color: #000', href: customers_health_assessment_path({type: assessment.assessment_type, id: comment.health_assessment_id})}
                                = assessment.health_assessment_id
                              = ': '+comment.description.to_s
                      .line.line-xs.pull-in
                - if no_comments == true
                  No comments added.