= content_for :title, 'Vision assessment'

%div.clearfix.breadcrumb
  %ol.padder
    = render_breadcrumbs :separator => ' / '
    %small.pull-right
      Contact: 888-678-EKIN (3546) /
      %a{href: 'mailto:founder@ekincare.com'} founder@ekincare.com

%div.padder{style: 'min-height: 1000px'}
  .m-b-md.padder
    %h4.text-center
      %a.font-bold Vision Assessment

  -#= paginate @vision_assessment, params: {id: nil}

  - if @vision_assessment.empty?
    .row.p-t.padder
      .text-center
        No assessments found

    .row.p-t.padder
      .text-center
        %h4 Please upload your recent vision records
      .text-center.p-t
        %a.btn.btn-s-md.btn-primary{:href => customers_documents_path} Get Started

    .row.p-t.padder
      .text-center.col-md-6.col-md-offset-3
        Doctors highly recommend a comprehensive dilated eye-exam atleast once a year. If you haven’t had one in the recent past, call now to schedule an annual dental assessment. It's free.

    .row.padder
      .text-center
        %h3 888-678-EKIN (3546)
  - else

    .row.p-t.md.padder
    .col-lg-12.col-md-12.m-b{:style => "padding:0"}
      %div
        .col-md-6.nopadding
          %div
            .col-md-12.no-padder
              %h5
                -unless(@vision_assessment.first.appointments.empty?)
                  -unless(@vision_assessment.first.appointments.first.partner_name1.nil?)
                    %span.font-bold
                      Provider Name
                    %span
                      &nbsp;:
                    %span
                      =@vision_assessment.first.appointments.first.partner_name1
      %div
        .col-md-6.nopadding.text-right.provider_doctor_name
          %h5
            -unless(@vision_assessment.nil?)
              -unless(@vision_assessment.first.doctor_name.nil?)
                %span.font-bold
                  Doctor Name
                %span
                  &nbsp;:
                %span
                  =@vision_assessment.first.doctor_name

    .row.p-t.md.padder
      .col-lg-12.col-md-12
        %section.row.m-l-none.m-r-none.m-b.text-center
          .col-md-2.no-padder
            %section.panel.panel-default.m-n
              .panel-body
                = link_to_next_page @vision_assessment, 'Previous', params: {type: 'Vision'}
                &nbsp;
          .col-md-8.no-padder
            %section.panel.panel-default
              .panel-body
                %b
                  = formatted_date @vision_assessment.first.request_date
          .col-md-2.no-padder
            %section.panel.panel-default
              .panel-body
                = link_to_previous_page @vision_assessment, 'Next', params: {type: 'Vision'}
                &nbsp;

    .row.p-t.padder
      .col-lg-12.col-md-12
        %section.panel.panel-default
          %header.padder.padder-v-10.m-b-none.panel.panel-heading.b-n.b-b
            %b.text-success{style: 'font-size: 15px'} Corrections
          .table-responsive
            %table.table.table-striped.b-light#Vision_prescription_table
              %thead
                %tr
                  %th{width: '10%'}
                    %span Eye
                    -#%span.th-sort
                      %i.fa.fa-sort-down.text
                      %i.fa.fa-sort-up.text-active
                      %i.fa.fa-sort
                  %th
                    %span UCVA
                  %th{width: '12%'}
                    %span SPHE
                  %th
                    %span CYL
                  %th
                    %span AXIS
                  %th
                    %span PRISM
                  %th{width: '12%'}
                    %span ADD
                  %th
                    %span CVA
              %tbody
                -if @vision_assessment.first.prescription
                  - @left_correction = @vision_assessment.first.prescription.corrections.find_by(eye: 'left').vision_component
                  - @right_correction = @vision_assessment.first.prescription.corrections.find_by(eye: 'right').vision_component

                %tr#vision_prescription_form
                  %td
                    Left Eye
                  %td
                    = @left_correction.ucva rescue '-'
                  %td
                    = @left_correction.spherical rescue '-'
                  %td
                    = @left_correction.cylindrical rescue '-'
                  %td
                    = @left_correction.axis rescue '-'
                  %td
                    = @left_correction.prism rescue '-'
                  %td
                    = @left_correction.add rescue '-'
                  %td
                    = @left_correction.cva rescue '-'

                %tr#vision_prescription_form
                  %td
                    Right Eye
                  %td
                    = @right_correction.ucva rescue '-'
                  %td
                    = @right_correction.spherical rescue '-'
                  %td
                    = @right_correction.cylindrical rescue '-'
                  %td
                    = @right_correction.axis rescue '-'
                  %td
                    = @right_correction.prism rescue '-'
                  %td
                    = @right_correction.add rescue '-'
                  %td
                    = @right_correction.cva rescue '-'
        %section.panel.panel-default
          %header.padder.padder-v-10.m-b-none.panel.panel-heading.b-n.b-b
            %b.text-success{style: 'font-size: 15px'} Lens Type
          .table-responsive
            %table.table.table-striped.b-light
            - if @vision_assessment.first.prescription
              - @lens_types = @vision_assessment.first.prescription.lens_type.split(',') rescue '-'
              %tbody
                %tr
                  %td{colspan: '9'}
                    .row.m-l
                      .col-md-12
                        %ol
                          - @lens_types.each do |lens_type|
                            %li
                              = lens_type
            - else
              .padder-v.text-center
                %small.padder
                  No lens prescribed
