%section.page-content.col8
  %h1.font-light.mb10 FAQ
  %p
    %br/
  %section.faq
    %h5.faq__title.uppercase The Basics
    %a.faq__trigger{:href => "#"}
      What is eKincare?
    %section.faq__content.content
      eKincare is an offline and online solution to assess, track and stay informed about your wellbeing, with minimal effort.
    %a.faq__trigger{:href => "#"}
      Who can register for eKincare?
    %section.faq__content.content
      Anyone who wants to take charge of their health or family’s health. Research has shown that when consumers actively participate in their own care, the outcomes are better, inexpensive and more responsive.
  %section.faq
    %h5.faq__title.uppercase Why eKincare
    %a.faq__trigger{:href => "#"}
      I am healthy, why would I subscribe to eKincare?
    %section.faq__content
      %p In short you have nothing to lose and everything to gain. In India. 52% of them aren’t aware that they have Diabetes and 67% of them didn’t know they were suffering from high blood pressure until they were diagnosed. 70% of urban Indians are at risk of heart diseases. With the rise of chronic diseases, regular body, dental and vision checks can help find problems before they start. They also can help detect problems early, when your chances for treatment and cure are better.
    %a.faq__trigger{:href => "#"}
      Why would I want to digitize my past medical records?
    %section.faq__content
      Your health information is scattered across multiple providers and files. Keeping your own complete, updated and easily accessible health record means you can play a more active role in your healthcare. You wouldn’t write checks without keeping a check register. The same level of responsibility makes sense for your healthcare.
      %br/
      = succeed "It" do
        %br/
      can reduce or eliminate duplicate procedures or processes, which saves your time and money. And the information you gather gives you knowledge that assists your preparation for appointments.
    %a.faq__trigger{:href => "#"}
      Why digitize with eKincare?
    %section.faq__content
      %p Medical records are records. Just that. And we carry them as couriers from one doctor to another without understanding what’s in them. When your store your records with eKincare, that data from those records are analyzed which helps spots any chronic health risks early when chances of treatment are better. Also, we convert that data into easy to understand formats which helps you to:
  %section.faq
    %h5.faq__title.uppercase Sign-up, Cost and Getting Started
    %a.faq__trigger{:href => "#"}
      How much does it cost?
    %section.faq__content
      %p Nothing, it’s free.
    %a.faq__trigger{:href => "#"}
      Where are your services currently offered?
    %section.faq__content
      %p We currently offer our services across India through our health partners. Below is the map of our partner centers.
    %a.faq__trigger{:href => "#"}
      I just uploaded my documents, what happens next?
    %section.faq__content
      Congratulations! You’ve taken your first step towards a healthy future. We update your profile with the data from your records, for you to understand your past in a simple and useful format for better insights and anomalies into your health. Our digitization take on an average of 2 working business days and we will notify you once we update your profile.
    %a.faq__trigger{:href => "#"}
      Can I mail my medical records to eKincare instead of uploading?
    %section.faq__content
      Surely you can. Please send a copy of your records with your name, date of birth, contact address and phone number to reports@eKincare.com
  %section.faq
    %h5.faq__title.uppercase Cancellation and Privacy
    %a.faq__trigger{:href => "#"}
      What if I want to delete my profile?
    %section.faq__content
      We really think you’ll like our program, but we understand that the realities of life can make it difficult to fully commit. If you’d like to cancel just send us an email at info@eKincare.com with the subject line “Cancellation” and your name, date of birth, registered phone number and address and we will process your cancellation immediately.
    %a.faq__trigger{:href => "#"}
      What privacy measures are in place?
    %section.faq__content
      We understand that your personal health is private, and we take that seriously. You can find out more by reading our
      = succeed "." do
        %a privacy policies
  %section.faq
    %h5.faq__title.uppercase Blood SOS
    %a.faq__trigger{:href => "#"}
      What is Blood SOS?
    %section.faq__content
      Blood SOS is a free voluntary program where eKincare maps a blood seekers with a matching blood group donor from the registered base, and sends out a SOS in the form of a SMS. SMS is sent to seekers within 10KM radius who have volunteered to donate.
      = succeed "." do
        %a{href: "https://www.youtube.com/watch?v=sPTl9R6pSWU&feature=youtu.be"}Watch the overview video.
    %a.faq__trigger{:href => "#"}
      How does Blood SOS work?
    %section.faq__content
      Using the app, one can volunteer to seek or donate blood in easy steps as shown below:
      %br/
      To donate blood:
      %br/
      Download the free eKincare app:
      = succeed "." do
        %a{href: "https://play.google.com/store/apps/details?id=com.ekincare"} Android/
        %a{href: "https://itunes.apple.com/us/app/ekincare/id973037249?ls=1&mt=8"}Apple
      > Register your consent > Respond quickly when you get a request
      %br/
      To seek blood go to:
      %br/
      Tools > Start a blood SOS request > enter purpose for seeking blood > emergency contact number > Confirm your intent
      %br/
      Once, you confirm the intent a SMS is sent to the matching donors with your contact details, blood group etc. to respond back incase they would like to volunteer
    %a.faq__trigger{:href => "#"}
      What are the things I should keep in mind when donating blood:
    %section.faq__content
      Things you should know:
      %br/
      1. You should be in good health
      %br/
      2. You should weigh more than 45 kgs
      %br/
      3. You should be between 18-60 years of age
      %br/
      4. You should have eaten well and taken plenty of fluids on that day
      %br/
      5. Discuss your medical history with the Physician/Nurse
      %br/
      6. Avoid smoking for a few hours before and after the donation
      %br/
      7. Avoid antibiotics for 72 hours after the donation
      %br/
      8. Avoid alcohol on the day of donation
      %br/
      9. Avoid driving for a day after the donation
    %a.faq__trigger{:href => "#"}
      Why should I donate Blood?
    %section.faq__content
      For every 1 unit of blood you donate, you could be saving 3 lives. The other unexpected advantages of donating blood are:
      %br/
      1. One time blood donation helps you shed 650 Kcal. Do good to stay healthy
      %br/
      2. Regular blood donations help to keep the levels of iron in the body in check, especially in males. This has shown to reduce heart disease.
      %br/
      3. Frequent blood donations are good free health check-ups that will help you stay healthy
  %section.faq
    %h5.faq__title.uppercase Expert Opinion
    %a.faq__trigger{:href => "#"}
      What is expert opinion
    %section.faq__content
      Expert opinion is a simple, yet powerful tool that helps you securely share your medical history with a doctor or a person your trust. The doctor then can review your medical reports online and provide his/her feedback directly against your profile. Think of this as a simple mechanism to share and receive feedback about your medical history.
    %a.faq__trigger{:href => "#"}
      How does expert opinion feature work?
    %section.faq__content
      Simply register, click picture of your old medical records and share.
      = succeed "." do
        %a{href: "https://www.youtube.com/watch?v=IzyUNxOaviU&feature=youtu.be"} Watch a step by step video on how to use expert opinion.
    %a.faq__trigger{:href => "#"}
      What are the advantages of using expert opinion feature?
    %section.faq__content
      Expert opinion can come handy in multiple ways
      %br/
      1. Let’s say you just had undergone a medical test and want to share it with a doctor to get his/her opinion on the outcomes
      %br/
      2. Let’s say you have to share a report with a surgeon, cardiologist and your family physician and gather their feedback. You could easily share your medical profile with all the three and their comments are all consolidated in a single window in order to make a quick correlation and educated medical decisions
    %a.faq__trigger{:href => "#"}
      How secure is to share my medical profile through expert opinion?
    %section.faq__content
      You are in complete control as to who you want to share your medical history with. Even when we share we send an email to the doctor with the link to your profile and a One TIme Password (OTP) to their registered mobile number to put two together to access the details. Last but not the least, their access is revoked in 48 hours to ensure your privacy. 





