!!!
%html.js.no-touch.no-android.chrome.no-firefox.no-iemobile.no-ie.no-ie8.no-ie10.no-ie11.no-ios{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %title
      = yield(:title).empty? ? 'eKincare' : "eKincare | #{yield(:title)}"
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %link{href: asset_path('fav.ico'), rel: "shortcut icon"}
    /[if lt IE 9]
      <script src="vendor/assets/javascripts/ie/html5shiv.js"></script>
      <script src="vendor/assets/javascripts/ie/respond.min.js"></script>
      <script src="vendor/assets/javascripts/ie/excanvas.js"></script>
    - if content_for?(:zopim_chat)
      = yield(:zopim_chat)

  %body.container
    %div.pos-fxd#loaderPageImage{:style => "left:50%;top:50% !important;margin:-19px 0 0 -128px;z-Index:999; height:38px; width:256px;"}
    %section.vbox
      - if session[:is_customer]
        = render partial: 'layouts/customer/top_bar'
      - else
        = render partial: 'layouts/customer/doctor_top_bar'
      %section
        %section.hbox.stretch
          / .aside
          - if session[:is_customer]
            = render partial: 'layouts/customer/left_nav'
          - else
            = render partial: 'layouts/customer/left_nav_doctor'
          / /.aside
          %section#content
            - if flash[:welcome]
              .alert.alert-success.text-center{style: 'position: absolute;top: 0; z-index: 999999; width: 100%'}
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                %i.fa.fa-ok-sign
                = flash[:notice].html_safe

            .flash
              -#- flash.each do |type, message|
              -#  %div.alert.text-center{class: "alert-#{type}"}
              -#    %button.close{"data-dismiss" => "alert", :type => "button"} ×
              -#    %i.fa.fa-ok-sign
              -#    %p
              -#      = message
                %div{:class => " alert alert-#{type}"}
                -#  %p= message


            = yield
            -#%footer.footer.bg-white.b-t.b-light
            -#  %p This is a footer

    = javascript_include_tag 'application'

